            @import './utils/normalize';
            @import'./utils/bootstrap-grid.min.css';
            @import'./utils/fonts.css';
            @import'./slick-theme.css';
            @import'./cardslider.css';
            @import'./rangeslider.css';
            @import'./slick.css';
            $brand-color:#f2f2f2;
            $wetasphalt: #34495e;
            $belizehole: #2980b9;
            $spancolor:#d268d1;
            // end mixin
            html {
                font-size: 100%;
                height: 100%;
            }
            
            body {
                height: 100%;
                font-size: 100%;
                padding: 0;
                margin: 0;
                font-family: 'Conv_GothamProRegular';
            }
            
            ul {
                padding-left: 0;
                margin: 0;
                list-style-type: none;
            }
            
            a {
                text-decoration: none;
                display: inline-block;
            }
            
            h1 {
                font-size: 54px;
                margin: 0;
                &+p {
                    font-size: 34px;
                    margin: 0;
                    font-family: 'Conv_GothamProLight';
                }
            }
            
            .title {
                font-size: 36px;
                font-family: 'Conv_GothamProBold';
                margin-top: 0;
                &~p {
                    font-family: 'Conv_GothamProLight';
                }
            }
            
            .text-p {
                font-size: 24px;
                background-color: rgba(244, 244, 244, .4);
                margin: 0;
                padding: 24px 0;
                margin: 24px 0;
            }
            
            .tr-b+.tr-b,
            .tr-w+.tr-w {
                margin-top: 37px;
            }
            
            .tr-w,
            .tr-b {
                position: relative;
                &::before {
                    content: '';
                    display: block;
                    width: 24px;
                    height: 1px;
                    background-color: #fff;
                    position: absolute;
                    left: -30px;
                    top: 10px;
                }
            }
            
            .tr-b::before {
                background-color: #000;
            }
            
            * {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                outline: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }
            
            img {
                max-width: 100%;
                height: auto;
            }
            
            .container {
                max-width: 1170px;
                margin: 0 auto;
                padding-left: 1rem;
                padding-right: 1rem;
            }
            
            .flex-wrap {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;
            }
            
            .flex-row {
                @extend .flex-wrap;
                margin-left: -1rem;
                margin-right: -1rem;
            }
            
            .aligncenter {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }
            
            .space-around {
                -ms-flex-pack: distribute;
                justify-content: space-around;
            }
            
            .space-between {
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
            }
            
            .wrap {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
                height: 100%;
            }
            
            .text-center {
                text-align: center;
            }
            
            .nowrap {
                -ms-flex-flow: nowrap;
                flex-flow: nowrap;
            }
            
            .header {
                padding: 30px 0 90px;
            }
            
            .header-wrap {
                background: url(../img/right.p.png) center right no-repeat, -webkit-gradient(linear, left top, right top, from(#d381dd), to(#fd7c8c));
                background: url(../img/right.p.png) center right no-repeat, linear-gradient(to right, #d381dd, #fd7c8c);
                padding-bottom: 114px;
                color: #fff;
                overflow: hidden;
            }
            
            img[alt~="gerl"] {
                position: absolute;
                right: 0;
                top: -100px;
            }
            
            .menu {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;
                -webkit-box-flex: 1;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                &__item {
                    a {
                        text-decoration: none;
                        color: #fff;
                        font-size: 16px;
                        border-bottom: 1px solid transparent;
                        -webkit-transition: .5s border ease-in;
                        transition: .5s border ease-in;
                        &:hover {
                            border-bottom: 1px solid #fff;
                        }
                    }
                }
            }
            
            .btn {
                cursor: pointer;
                background-color: transparent;
                border: none;
                text-transform: uppercase;
                color: #fff;
                position: relative;
                padding: 20px 30px 20px 20px;
                font-size: 14px;
                font-family: 'Conv_GothamProBold';
                border: 1px solid transparent;
                -webkit-transition: all .5s ease-in;
                transition: all .5s ease-in;
                text-decoration: none;
                &::before {
                    content: '';
                    position: absolute;
                    width: 52px;
                    height: 22px;
                    display: block;
                    right: -30px;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    background: url(../img/arrow.png);
                }
            }
            
            .btn-dark {
                background-color: #262626;
                &:hover {
                    background-color: transparent;
                    color: #262626;
                    border: 1px solid #262626;
                }
            }
            
            .btn-g {
                background: -webkit-gradient(linear, left top, right top, from(#d381dd), to(#fd7c8c));
                background: linear-gradient(to right, #d381dd, #fd7c8c);
                &:hover {
                    background: -webkit-gradient(linear, left top, left bottom, from(#d381dd), to(#fd7c8c));
                    background: linear-gradient(to bottom, #d381dd, #fd7c8c);
                }
            }
            
            .padding {
                padding: 90px 0;
            }
            
            #total_price {
                font-size: 36px;
                color: $spancolor;
                font-family: 'Conv_GothamProBlack';
                background: -webkit-gradient(linear, left top, right top, from(#d381dd), to(#fd7c8c));
                background: linear-gradient(to right, #d381dd, #fd7c8c);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            /*дефол вверх*/
            
            // burger end/
            $max-width: 100%;
            $max-height: 200px;
            $item-height: 50px;
            #scroll-container {
                overflow: hidden;
                max-width: $max-width;
                margin: auto;
                height: 50vh;
                position: relative;
                min-height: $max-height;
                font-family: 'Avenir';
                font-weight: 800;
                text-transform: uppercase;
            }
            
            .wrap-container {
                position: relative;
                max-height: $max-height;
                width: 100%;
                max-width: $max-width;
                margin: auto;
                overflow: auto;
                padding-right: 20px; // hides scrollbar
                -webkit-mask: url(#masking);
                mask: url(#masking);
                -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, rgba(0, 0, 0, 1)), color-stop(1, rgba(0, 0, 0, 0)));
                ul {
                    list-style: none;
                    position: relative;
                    -webkit-transition: -webkit-transform .3s;
                    transition: -webkit-transform .3s;
                    transition: transform .3s;
                    transition: transform .3s, -webkit-transform .3s;
                    top: $item-height;
                }
                ul,
                ul li {
                    margin: 0;
                    padding: 0;
                    text-align: right;
                }
                ul li {
                    height: $item-height;
                    line-height: $item-height;
                    -webkit-transition: -webkit-transform .3s;
                    transition: -webkit-transform .3s;
                    transition: transform .3s;
                    transition: transform .3s, -webkit-transform .3s;
                    overflow: hidden;
                    &:last-of-type {
                        padding-bottom: $item-height;
                    }
                    .discription {
                        opacity: 0;
                    }
                    &.active {
                        background-color: red;
                        .item-b {
                            font-size: 21px;
                        }
                        .discription {
                            opacity: 1;
                        }
                    }
                }
                ul li .item-b {
                    position: relative;
                    -webkit-transition: -webkit-transform 200ms;
                    transition: -webkit-transform 200ms;
                    transition: transform 200ms;
                    transition: transform 200ms, -webkit-transform 200ms;
                    display: inline-block;
                }
            }
            
            .training {
                background-color: #262626;
                color: #fff;
                padding-top: 54px;
                ul {
                    width: 80%;
                    margin: 45px 0;
                    padding-left: 35px;
                }
                li {
                    font-size: 18px;
                    font-family: 'Conv_GothamProLight';
                }
                li+li {
                    margin-top: 37px;
                }
            }
            
            .w80 {
                max-width: 80%;
                margin: 0 auto;
                text-align: center;
            }
            
            .bord {
                padding: 5% 9%;
                border: 12px solid transparent;
                -o-border-image: linear-gradient(to right, #d381dd, #fd7c8c);
                border-image: -webkit-gradient(linear, left top, right top, from(#d381dd), to(#fd7c8c));
                border-image: linear-gradient(to right, #d381dd, #fd7c8c);
                border-image-slice: 1;
                border-color: white;
                margin-top: 52px;
                position: relative;
                &-name {
                    font-family: 'Conv_GothamProLight';
                    margin-top: 60px;
                    &::before {
                        content: '';
                        display: block;
                        width: 30%;
                        height: 1px;
                        background-color: #f7e4f9;
                        margin: 0 auto 45px;
                    }
                }
                img {
                    position: absolute;
                }
                .left-quotes {
                    top: 30px;
                    left: 30px;
                }
                .right-quotes {
                    bottom: 30px;
                    right: 30px;
                }
                p {
                    font-size: 30px;
                }
            }
            
            .item {
                width: 100%;
                position: relative;
                -webkit-filter: grayscale(1);
                filter: grayscale(1);
                cursor: pointer;
                padding: 1rem;
                &:hover {
                    -webkit-filter: grayscale(0);
                    filter: grayscale(0);
                }
            }
            
            .item-l {
                -webkit-box-flex: 1;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                max-width: 252px;
                text-align: center;
                height: 192px;
                padding: 40px 13px;
                -webkit-box-shadow: 3px 4px 30px 2px #f4c2f6;
                box-shadow: 3px 4px 30px 2px #f4c2f6;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-flow: column;
                flex-flow: column;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                margin-bottom: 27px;
                div {
                    margin: auto;
                }
                p {
                    font-size: 16px;
                    font-family: 'Conv_GothamProBold';
                }
            }
            
            .advantages .item-l {
                margin-bottom: 42px;
            }
            
            .advantages-item {
                padding-left: 36px;
            }
            
            .program .col-md-6>div>p {
                font-family: 'Conv_GothamProMedium';
            }
            
            // cart
            $default-diff: 12px;
            $default-width: 100%;
            $default-min: 10%;
            .mini-program {
                background: url(../img/women.png) no-repeat;
                padding: 100px 0;
                color: #fff;
                height: 693px;
                .title {
                    font-size: 36px;
                }
                .container {
                    .row .col-md-9 {
                        height: 1px;
                        min-height: 250px;
                    }
                }
            }
            
            .cardslider__nav-next,
            .cardslider__nav-prev {
                left: 0;
                background: url(../img/right-arrow-b.png) no-repeat;
                width: 52px;
                height: 22px;
                border: none;
                border-radius: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            
            .cardslider__direction-nav {
                position: static;
            }
            
            .cardslider__nav-next {
                position: absolute;
                right: 100px;
                left: unset;
                background: url(../img/right.png) no-repeat;
                margin: 0;
            }
            
            .cardslider__nav-prev {
                position: absolute;
                left: 100px;
            }
            
            .cardslider__card {
                text-align: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                border-radius: 0;
                padding: 80px 95px;
                color: #000;
                height: auto;
                min-height: 250px;
                p {
                    margin: auto;
                }
                span {
                    -webkit-box-shadow: 3px 8px 20px 2px #f4c2f6;
                    box-shadow: 3px 8px 20px 2px #f4c2f6;
                    position: absolute;
                    width: 90px;
                    height: 90px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    font-size: 40px;
                    color: $spancolor;
                    background-color: #fff;
                    border-radius: 50%;
                    top: -17px;
                    left: -45px;
                }
            }
            
            // cart-end
            .range {
                background-color: #262626;
                padding: 100px 0;
                color: #fff;
            }
            
            .triangle {
                position: relative;
                top: -70px;
            }
            
            .box {
                width: 216px;
                height: 134px;
                padding: 0 20px;
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                background-color: #fff;
                -webkit-box-shadow: 3px 4px 30px 2px #f4c2f6;
                box-shadow: 3px 4px 30px 2px #f4c2f6;
                margin-bottom: 6rem;
                padding-bottom: 1rem;
                &:after {
                    content: '';
                    display: block;
                    height: 120px;
                    width: 120px;
                    position: absolute;
                    background-color: white;
                    top: 25px;
                    left: 44%;
                    -webkit-transform: rotate(-55deg) skewY(20deg) translateX(-42%);
                    transform: rotate(-55deg) skewY(20deg) translateX(-42%);
                    z-index: -1;
                    -webkit-box-shadow: 3px 4px 30px 2px #f4c2f6;
                    box-shadow: 3px 4px 30px 2px #f4c2f6;
                }
                &__text {
                    margin: auto;
                    p {
                        font-family: 'Conv_GothamProBold';
                    }
                    span {
                        font-size: 16px;
                    }
                    &>span {
                        font-size: 12px;
                        font-family: 'Conv_GothamProLight';
                    }
                }
            }
            
            // аккордион
            .trigger span:nth-of-type(2) {
                font-family: 'Conv_GothamProMedium';
            }
            
            .accordion {
                position: relative;
                width: 100%;
                .trigger {
                    -webkit-box-shadow: 0 0 20px #fcf0fc;
                    box-shadow: 0 0 20px #fcf0fc;
                    #checkbox-1,
                    #checkbox-2,
                    #checkbox-3,
                    #checkbox-4,
                    #checkbox-5,
                    #checkbox-6,
                    #checkbox-7 {
                        display: none;
                        &:checked+label {
                            i {
                                &:before {
                                    -webkit-transform: translate(5px, 8px) rotate(45deg);
                                    transform: translate(5px, 8px) rotate(45deg);
                                }
                                &:after {
                                    -webkit-transform: translate(-5px, 8px) rotate(-45deg);
                                    transform: translate(-5px, 8px) rotate(-45deg);
                                }
                            }
                        }
                    }
                    .checkbox {
                        position: relative;
                        display: block;
                        width: 100%;
                        margin: 0;
                        padding: 20px;
                        color: #000;
                        cursor: pointer;
                        // background-color: darken(slategray, 20%);
                        i {
                            position: absolute;
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            right: 20px;
                            //float: right;
                            &:before,
                            &:after {
                                position: absolute;
                                content: '';
                                width: 16px;
                                height: 3px;
                                background-color: #000;
                                -webkit-transition: -webkit-transform 250ms ease;
                                transition: -webkit-transform 250ms ease;
                                transition: transform 250ms ease;
                                transition: transform 250ms ease, -webkit-transform 250ms ease;
                            }
                            &:before {
                                -webkit-transform: translate(-5px, 8px) rotate(45deg);
                                transform: translate(-5px, 8px) rotate(45deg);
                            }
                            &:after {
                                -webkit-transform: translate(5px, 8px) rotate(-45deg);
                                transform: translate(5px, 8px) rotate(-45deg);
                            }
                        }
                    }
                    .content {
                        position: relative;
                        max-height: 24px;
                        overflow-y: auto;
                        visibility: hidden;
                        padding: 24px;
                        font-size: 14px;
                        line-height: 1.5;
                        -webkit-transition: max-height 500ms ease-in-out;
                        transition: max-height 500ms ease-in-out;
                        li {
                            position: relative;
                            &::before {
                                content: '';
                                position: absolute;
                                left: -12px;
                                top: 10px;
                                display: block;
                                height: 1px;
                                width: 10px;
                                background-color: #000;
                            }
                        }
                        li+li {
                            margin-top: 6px;
                        }
                    }
                    p {
                        margin: 0 30px 30px;
                    }
                }
            }
            
            p>span {
                color: $spancolor;
                font-family: 'Conv_GothamProBold';
            }
            
            .line {
                width: 100%;
                height: 1px;
                margin: 30px 0;
                background-color: #929292;
            }
            
            #checkbox-1:checked~.content,
            #checkbox-2:checked~.content,
            #checkbox-3:checked~.content,
            #checkbox-4:checked~.content,
            #checkbox-5:checked~.content,
            #checkbox-6:checked~.content,
            #checkbox-7:checked~.content {
                max-height: 350px;
                -webkit-transition: max-height 500ms ease-in-out;
                transition: max-height 500ms ease-in-out;
                padding: 24px;
                visibility: visible;
            }
            
            .trigger label {
                border-bottom: 1px solid #959595;
                span:first-of-type {
                    &::before {
                        content: '';
                        display: inline-block;
                        height: 8px;
                        width: 8px;
                        border-radius: 50%;
                        background-color: #fe7b89;
                        margin-right: 20px;
                    }
                }
                span+span {
                    margin-left: 65px;
                }
            }
            
            .trigger+.trigger {
                margin-top: 1rem;
            }
            
            // End
            .work {
                padding: 60px 0;
            }
            
            .why,
            .bord {
                margin-bottom: 55px;
            }
            
            .forms {
                background-color: #262626;
                color: #fff;
                padding: 80px 0;
                .btn-g {
                    border: none;
                    width: 100%;
                }
                .flex-wrap {
                    -webkit-box-align: end;
                    -ms-flex-align: end;
                    align-items: flex-end;
                }
                input {
                    background-color: transparent;
                    border: none;
                    padding-bottom: 4px;
                    border-bottom: 1px solid #fff;
                    width: 100%;
                    color: #fff;
                    position: relative;
                    &:focus {
                        -o-border-image: linear-gradient(to right, #d381dd, #fd7c8c);
                        border-image: -webkit-gradient(linear, left top, right top, from(#d381dd), to(#fd7c8c));
                        border-image: linear-gradient(to right, #d381dd, #fd7c8c);
                        border-image-slice: 1
                    }
                }
            }
            
            .maps {
                overflow: hidden;
                height: 652px;
                position: relative;
                .container {
                    height: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: end;
                    -ms-flex-pack: end;
                    justify-content: flex-end;
                }
                .block-form {
                    z-index: 2;
                    padding: 66px;
                    background-color: #fff;
                    font-family: 'Conv_GothamProMedium';
                    -webkit-box-shadow: 3px 4px 30px 2px #f4c2f6;
                    box-shadow: 3px 4px 30px 2px #f4c2f6;
                    p {
                        margin: 0;
                    }
                    .cont {
                        font-size: 36px;
                        font-family: 'Conv_GothamProBold';
                        margin-bottom: 50px;
                    }
                    a {
                        color: inherit;
                        text-decoration: none;
                        display: inline-block;
                    }
                }
            }
            
            .block-link {
                margin: 40px 0;
            }
            
            #map {
                top: 0;
                height: 100%;
                width: 100%;
                position: absolute;
            }
            
            footer {
                background-color: #262626;
                color: #d3d3d3;
                padding: 90px 0;
                font-family: 'Conv_GothamProLight';
                p {
                    margin: 0;
                    font-family: 'Conv_GothamProLight';
                }
                li+li {
                    margin-top: 1rem;
                }
                a {
                    color: inherit;
                    text-decoration: none;
                }
            }
            
            #nav-icon1 {
                display: none;
                width: 35px;
                height: 30px;
                position: relative;
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .5s ease-in-out;
                transition: .5s ease-in-out;
                cursor: pointer;
                top: -5px
            }
            
            #nav-icon1 span {
                display: block;
                position: absolute;
                height: 3px;
                width: 100%;
                background: #f5fcff;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                transition: .25s ease-in-out
            }
            
            #nav-icon1 span:first-child {
                top: 10px
            }
            
            #nav-icon1 span:nth-child(2) {
                top: 18px
            }
            
            #nav-icon1 span:nth-child(3) {
                bottom: 0
            }
            
            #nav-icon1.open span:first-child {
                top: 18px;
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg)
            }
            
            #nav-icon1.open span:nth-child(2) {
                opacity: 0;
                left: -60px
            }
            
            #nav-icon1.open span:nth-child(3) {
                top: 18px;
                -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg)
            }
            
            #vertical-ticker {
                margin: 0;
                padding: 0;
                li {
                    padding: 15px 20px;
                    display: block;
                    color: #929292;
                    position: relative;
                    cursor: pointer;
                    &::after {
                        content: '';
                        display: block;
                        width: 15px;
                        height: 15px;
                        background-color: #929292;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        left: -15px;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: #929292;
                        width: 15px;
                        height: 2px;
                    }
                    p {
                        opacity: 0;
                        display: none;
                    }
                }
            }
            
            .nopadding {
                padding: 0;
            }
            
            .v-slide {
                padding-bottom: 50px;
            }
            
            #vertical-ticker li.open {
                background: -webkit-gradient(linear, left top, right top, from(#d381dd), to(#fd7c8c));
                background: linear-gradient(to right, #d381dd, #fd7c8c);
                color: #fff;
                padding-left: 2.5rem;
                &::before,
                &::after {
                    background-color: #fff;
                    -webkit-box-shadow: 3px 4px 30px 2px #000;
                    box-shadow: 3px 4px 30px 2px #000;
                }
                &::before {
                    left: -40px;
                    width: 40px;
                }
                p {
                    display: block;
                    opacity: 1;
                }
            }
            
            .prof p {
                color: #fff;
                background: linear-gradient(to left, #d381dd, #fd7c8c);
                font-size: 32px;
                font-family: 'Conv_GothamProBold';
                margin: 0;
                padding: 31px 0;
            }
            
            @media(min-width:350px) {
                .item {
                    -ms-flex-preferred-size: 50%;
                    flex-basis: 50%;
                    max-width: 50%;
                    -webkit-box-flex: 0;
                    -ms-flex: none;
                    flex: none;
                }
            }
            
            @media (min-width:768px) {
                .item {
                    -ms-flex-preferred-size: 33.33%;
                    flex-basis: 33.33%;
                    max-width: 33.33%;
                    -webkit-box-flex: 0;
                    -ms-flex: none;
                    flex: none;
                }
                .text-p {
                    width: 80%;
                }
            }
            
            @media (max-width:768px) {
                .btn:before {
                    display: none;
                    margin-top: 1rem;
                }
                input+input {
                    margin-top: 1rem;
                }
                .col-md-4+.col-md-4 {
                    margin-top: 1rem;
                }
                footer {
                    text-align: center;
                }
                .col-sm-12 {
                    margin-top: 1rem;
                }
                #nav-icon1 {
                    display: block;
                }
                .menu {
                    display: none;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-flow: column;
                    flex-flow: column;
                    background-color: rgba(0, 0, 0, 0.5);
                    padding: 1rem 0;
                    &.open {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        width: 100%;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                    }
                    &__item+&__item {
                        margin-top: 1rem;
                    }
                }
                .advantages-item {
                    padding: 0;
                }
                .item-l {
                    margin: 0 auto 42px;
                }
                h1 {
                    font-size: 2rem;
                }
                .triangle .space-between {
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                }
                .header-wrap {
                    background: -webkit-gradient(linear, left top, right top, from(#d381dd), to(#fd7c8c));
                    background: linear-gradient(to right, #d381dd, #fd7c8c);
                }
                img[alt~="gerl"] {
                    display: none;
                }
                .cardslider__card {
                    span {
                        width: 60px;
                        height: 60px;
                        left: -30px;
                    }
                }
                .training {
                    padding-bottom: 40px;
                }
                .mini-program {
                    padding: 40px 0;
                    height: 500px;
                    .title {
                        font-size: 24px;
                    }
                }
                .title {
                    font-size: 24px;
                }
                .cardslider__nav-next {
                    right: 15px;
                }
                .cardslider__nav-prev {
                    left: 15px;
                }
                .item-order {
                    -webkit-box-ordinal-group: 0;
                    -ms-flex-order: -1;
                    order: -1;
                }
                .padding {
                    padding: 45px 0;
                }
            }
            
            @media (max-width:468px) {
                .title {
                    font-size: 24px;
                }
                .bord p {
                    font-size: 18px;
                }
                .item-l {
                    margin: 0 auto 21px;
                }
                .cardslider__card {
                    padding: 20px;
                }
                .mini-program .container .row .col-md-9 {
                    min-height: 350px;
                }
                .header-wrap {
                    background: url(../img/gerl.png) center center no-repeat, -webkit-gradient(linear, left top, right top, from(#d381dd), to(#fd7c8c));
                    background: url(../img/gerl.png) center center no-repeat, linear-gradient(to right, #d381dd, #fd7c8c);
                }
                .text {
                    &-p {
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }
                h1 {
                    background-color: rgba(0, 0, 0, 0.5);
                    &+p {
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }
            }