/* Large desktops and laptops */
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.video_our-services{
		height: 1600px;
	}

	.video_our-services .container-tooths .tab_content.active .button-keram{
		margin-left: 120px;
	}

	.composition-example .example-text{
		margin: 0;
	}

	.video_our-services .container-tooths .tab_content.active ul.check li{
		margin-left: 15px;
	}

	.video_our-services .container-tooths .tab_content.active ul.check li{
		margin-left: 15px;
	}

	.video_our-services .title_services, .video_our-services .title_video-block{
		white-space: nowrap;
	}

	.video_our-services .video{
		margin-top: 40px;
		margin-bottom: 0;

	}

	.video_our-services .container-tooths .tab_content.active ul.info_service li{
		padding-left: 5px;
		padding-right: 5px;
	}
	.video_our-services .container-tooths .tab_content.active ul.check{
		margin-top: 40px;
	}

	.video_our-services .container-tooths .tab_content.active ul.check li:last-child{
		margin-left: 0;
	}

	.advantages{
		height: auto;
		padding-bottom: 100px;
	}
	.advantages .container-video .advantages_gif{
		bottom: 0;
	}

	.advantages .container-video .advantages_blue-box,   .advantages .container-video .advantages_dots{
		display: none;
	}

	.offer{
		height: 660px;
	}

	.chief_doctor .chief_doctor-composition .box_button-chief_doctor .button-chief_doctor{
		font-size: 14px;
		padding: 22px;
	}
	footer .bottom-footer{
		width: 940px;
		padding-left: 0;
		padding-right: 0;
	}

}
@media screen and (max-width: 1200px) {
	.video_our-services .button-video-block{
		display: none;
	}
	.buttons-photo{
		display: none;
	}
	
	.is_home header .header-composition .statistic{
		display: none;
	}

	.chief_doctor .chief_doctor-composition .advantages-chief_doctor:nth-child(6) img{
		left: -6px;
	}
	.questions-s .box_questions-form{
		width: 100%;
	}

	.is_home header .header-composition .statistic .box:nth-child(2){
		margin-left: 40px;
	}
.is_home header .header-composition .statistic .box:nth-child(3) {

	margin-left: 30px;	
}

@media screen and (max-width: 992px){

	.questions-s .box_questions-form{
		width: 100%;
	}

	.advantages{
		padding-bottom: 100px;
	}

	.solve_problems{
		height: 690px;
	}

	.advantages .container-video .advantages_blue-box{
		display: none;
	}
	.advantages .container-video .advantages_dots{
		display: none;
	}
}

@media screen and (min-width: 776px) and (max-width: 992px) {
	.solve_problems .row .solve_problem-4{
		top: 230px;
	}
	.solve_problems .row .solve_problem-5{
		top: 230px;
	}
		.advantages .container-video .advantages_gif{
		width: 50%;
		left: 50%;
		height: auto;
		margin-left: -25%;
	}
	.composition-example .example-text{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.video_our-services .container-tooths .tab_content.active .tabs_price{
		position: relative;
		top: 15px;
	}
}

/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1170px) {
	section {
		
	}
	.offer {
		padding: 40px 0;
	}
	.offer .container-offer_composition {
		margin-top: 0;
	}
	.offer .container-offer_composition .logo_tooths {
		display: none;
	}
	.offer .container-offer_composition .title-offer {
		background-color: #eff8ff;
		min-height: 120px;
		position: static;
		padding: 20px 20px;
	}
	.offer .container-offer_composition .container-veneer {
		position: static;
	}
	.offer .container-offer_composition .container-veneer .button-veneers {
		margin-top: 20px;
	}
	.offer .container-offer_composition .container-veneer .offer-veneers {
		margin: 10px 0;
	}
	.offer .container-offer_composition .title-offer .title {
		margin-top: 0;
	}
	.chief_doctor .chief_doctor-composition .name-chief_doctor {
		line-height: 1.3;
	}
	.guarantee-s .img-guarantee img {
		bottom: 0;
	}
	.photo-wrap {
		display: none;
	}
	.photo-mobile {
		display: block;
	}
}

.is_home header .top-line .header-menu li{
	margin-left: 46px;
}


}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {
	section {
		height: auto!important;
	}

	.is_home header{
		background-position: left;
	}

	.is_home header .header-composition h1{
		width: 100%;
	}

	.solve_problems{
		height: 690px!important;
	}
	.top-line {
		position: static!important;
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: space-between;
	}
	.is_home header .top-line_info p:nth-child(3) {
		margin-left: 0;
	}
	.is_home header .top-line_info p {
		margin-top: 0;
	}
	.is_home header .header-composition {
		top: 100px;
	}
	.is_home header .top-line_info p:first-child {
		margin-right: 40px;
	}
	.video_our-services .title_video-block {
		margin-top: 40px;
		line-height: 35px;
	}
	.video_our-services .button-video-block {
		margin-top: 5px;
	}
	.video_our-services .video {
		width: 100%;
		margin-top: 40px;
		margin-bottom: 0;
	}
	.services-wrap {
		margin-top: 0!important;
	}
	.advantages .container-video .advantages_gif {
		bottom: 0;
	}
	.advantages .container-video .advantages_blue-box {
		top: -30px;
	}
	.advantages .container-video .advantages_dots {
		bottom: -15px;
	}
	.offer {
		padding: 40px 0;
	}
	.offer .container-offer_composition {
		margin-top: 0;
	}
	.offer .container-offer_composition .logo_tooths {
		display: none;
	}
	.offer .container-offer_composition .title-offer {
		background-color: #eff8ff;
		min-height: 120px;
		position: static;
		padding: 20px 20px;
	}
	.offer .container-offer_composition .container-veneer {
		position: static;
	}
	.offer .container-offer_composition .container-veneer .button-veneers {
		margin-top: 20px;
	}
	.offer .container-offer_composition .container-veneer .offer-veneers {
		margin: 10px 0;
	}
	.offer .container-offer_composition .title-offer .title {
		margin-top: 0;
	}
	.guarantee-s {
		padding-bottom: 0;
	}
	.img-guarantee {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.guarantee-s .guarantee-composition .stc {
		margin-top: 40px;
		margin-bottom: 100px;
	}
	.chief_doctor .chief_doctor-composition .name-chief_doctor {
		line-height: 1.3;
	}
	.guarantee-s .img-guarantee img {
		bottom: 0;
	}
	.chief_doctor .chief_doctor-composition, .chief_doctor .video-chief_doctor {
		width: 100%;
	}
	.chief_doctor .video-chief_doctor {
		margin: 40px 0 0 0;
	}
	.changes-s .under_title-changes {
		margin-bottom: 0;
	}
	.changes-s .box_consultation-form {
		width: 100%;
		margin-top: 40px;
	}
	.photo-wrap {
		display: none;
	}
	.photo-mobile {
		display: block;
	}
	footer .top-footer {
		position: static;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
	footer .top-footer .logo-footer {
		position: static;
	}
	footer .top-footer ul {
		margin-left: 0;
		padding-left: 20px;
		margin: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	footer .top-footer ul li {
		position: static!important;
		width: 50%;
		margin-left: 0!important;
		padding-bottom: 20px;
	}
	footer .top-footer ul li span {
		margin-left: 0!important;
	}
	footer .top-footer ul li:nth-child(4) img {
		position: static;
	}
	footer .top-footer ul li:nth-child(4) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	footer .top-footer ul .footer-number {
		padding-left: 10px;
	}
}

/* Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px) {
	section {
		height: auto!important;
	}

	.is_home header{
		background-position: left;
	}

	.request_call-mob{
		margin-left: 3%;	

	}
	.top-line {
		position: static!important;
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: space-between;
	}
	.is_home header .top-line .logo {
		width: 100px;
	}
	.is_home header .top-line_info p:nth-child(3) {
		margin: 0;
		font-size: 14px;
	}
	.is_home header .top-line_info p {
		margin-top: 0;
	}
	.is_home header .header-composition {
		top: 100px;
	}
	.is_home header .top-line_info p:first-child {
		margin: 0 15px 0 0;
	}
	.is_home header .top-line_info p {
		bottom: 0;
	}
	.is_home header .top-line_info p img {
		display: none;
	}
	.tabs_gif-mob{
	display: block;
	width: 100%;
	margin-top: 20px;
}
	.reviews {
		padding: 40px 0;
	}
	.video_our-services .tabs_gif {
		position: static;
		display: none;
	}
	.video_our-services .title_services, .video_our-services .title_video-block {
		margin-top: 20px;
	}
	.video_our-services .video {
		margin-top: 40px;
		width: auto;
	}
	.video_our-services .video {
		margin-bottom: 0;
	}
	.services-wrap {
		margin-top: 0!important;
	}
	.advantages .container-video .advantages_gif {
		bottom: 0;
	}
	.advantages .container-video .advantages_blue-box {
		top: -30px;
	}
	.advantages .container-video .advantages_dots {
		bottom: -15px;
	}
	.offer {
		padding: 40px 0;
	}
	.offer .container-offer_composition {
		margin-top: 0;
	}
	.offer .container-offer_composition .logo_tooths {
		display: none;
	}
	.offer .container-offer_composition .title-offer {
		background-color: #eff8ff;
		min-height: 120px;
		position: static;
		padding: 20px 20px;
	}
	.offer .container-offer_composition .container-veneer {
		position: static;
	}
	.offer .container-offer_composition .container-veneer .button-veneers {
		margin-top: 20px;
	}
	.offer .container-offer_composition .container-veneer .offer-veneers {
		margin: 10px 0;
	}
	.offer .container-offer_composition .title-offer .title {
		margin-top: 0;
	}
	.offer .img_veneers {
		margin: 40px auto 0;
		width: 50%;
		display: block;
	}
	.advantages_dots, .advantages_blue-box {
		display: none;
	}
	.advantages .container-video {
		display: block;
		text-align: center;
	}
	.guarantee-s {
		padding-bottom: 0;
	}
	.guarantee-s .guarantee-composition .stc {
		margin-top: 40px;
		margin-bottom: 100px;
	}
	.chief_doctor {
		padding: 0;
	}
	.chief_doctor .chief_doctor-composition .name-chief_doctor {
		line-height: 1.3;
	}
	.img-guarantee {
		display: none;
	}
	.chief_doctor .chief_doctor-composition, .chief_doctor .video-chief_doctor {
		width: 100%;
	}
	.chief_doctor .video-chief_doctor {
		margin: 40px 0 0 0;
	}
	.changes-s .under_title-changes {
		margin-bottom: 0;
		padding: 0 15px;
	}
	.changes-s .box_consultation-form {
		width: 100%;
		margin-top: 40px;
	}
	.composition-example {
		position: static;
	}
	.example .row {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		padding: 0 15px;
	}
	.example .example-wrapper-w, .example .example-wrapper-m {
		order: 2;
	}
	.example .composition-example {
		order: 1;
	}
	.example .examble-btn {
		display: none;
	}
	.examble-btn-visible {
		display: block!important;
		margin-top: 80px;
	}
	.example-slider, .example-info {
		width: 100%;
	}
	.nav-wrap {
		width: 100%;
	}
	.links-wrap {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}
	.links-wrap li {
		max-width: 50%;
		font-size: 12px;
	}
	.links-wrap li:last-child {
		margin-top: 0;
	}
	.prices-s .container-prices div.price {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		padding: 0;
	}
	.prices-s .container-prices div.price span {
		width: 100%;
		padding: 22px;
		text-align: center;
	}
	.prices-s .container-prices div.price .cost {
		position: static;
		width: 100%;
	}
	.photo-wrap {
		display: none;
	}
	.photo-mobile {
		display: block;
	}
	footer .top-footer {
		position: static;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
	footer .top-footer .logo-footer {
		position: static;
	}
	footer .top-footer ul {
		margin-left: 0;
		margin: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		position: relative;
		left: 50%;
		margin-left: -50%;
		width: 100%;
	}
	footer .top-footer ul li {
		position: static!important;
		width: 50%;
		margin-left: 0!important;
		padding-bottom: 20px;
	}
	footer .top-footer ul li span {
		margin-left: 0!important;
	}
	footer .top-footer ul li:nth-child(4) img {
		position: static;
	}
	footer .top-footer ul li:nth-child(4) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	footer .top-footer ul .footer-number {
		padding-left: 10px;
	}
	.solve_problems {
		background-image: none!important;
	}
	.solve_problems .row .solve_problem {
		position: relative;
		top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		width: 100%;
		height: auto;
		padding: 10px;
		margin-bottom: 10px;
		text-align: left;
		border-radius: 0;
		border: 0;
		box-shadow: 2px 4px 10px #ddd;
	}
	.solve_problems .row .solve_problem:hover {
		background-color: #fff;
	}
	.solve_problems .row .solve_problem:hover .wrapper-solve {
		height: auto;
		box-shadow: none;
	}
	.solve_problems .row .solve_problem:hover .wrapper-solve_title {
		border-bottom: 2px solid #f4f4f4;
	}
	.solve_problems .row .solve_problem:hover .wrapper-solve .wrapper-solve_title {
		width: 100%;
		background-color: transparent;
		text-align: left;
		color: #000;
	}
	.solve_problems .row .solve_problem .fas {
		position: absolute;
		right: 10px;
		width: 30px;
	    height: 30px;
	    top: 10px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    color: #fff;
	    background-color: #21c0f8;
	    border-radius: 50px;
	}
	.solve_problems .row .solve_problem:hover .fas {
		color: #21c0f8;
		background-color: #fff;
		border: 1px solid #21c0f8;
	}
	.solve_problems .row .solve_problem:hover .wrapper-solve .wrapper-solve_content {
		width: 100%;
	}
	.solve_problems .row .solve_problem .wrapper-solve {
		position: static;
	}
	.solve_problems .row .solve_problem .wrapper-solve .wrapper-solve_title {
		width: 100%;
	}
	.work-panel, .work-slide__bg {
		width: 100%;
		border-radius: 0;
	}
	.work .section-header {
		height: auto!important;
		min-height: 0!important;
		position: static!important;
		padding-bottom: 40px;
	}
	.questions-s .box_questions-form {
		width: 100%;
	}
	.box-video_blue-box, .box-video_dots {
		display: none;
	}
	.photo-gallery .photo {
		width: 100%;
		margin-left: 0!important;
		position: relative;
	}
	.photo-gallery .photo img {
		margin: 0;
		top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}
	.photo-gallery {
		padding: 0 15px;
	}
	.top-footer {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.footer-logo {
		width: 100%;
		text-align: center;
	}
	footer .top-footer ul {
		padding: 40px 0 0 0;
	}
	footer .top-footer ul li {
		justify-content: center;
		text-align: center;
	}
	footer .confidentiality, footer .rights {
		margin-top: 0;
	}
	.bottom-footer {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		padding: 20px 0;
	}
	.bottom-footer .rights {
		padding-top: 10px;
	}
	.bottom-footer .footer-socials {
		margin-bottom: 0;
	}
	.photo-wrap {
		display: none;
	}
	.photo-mobile {
		display: block;
	}

	.request_call-mob{
		margin-left: 0;	
	}

	.video_our-services .container-tooths .tab_content.active .tabs_price{
		position: relative;
		top: 20px;
	}

}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
	section {
		height: auto!important;
	}
	.header {
		background-image: none!important;
		background-color: #fbfbfb;
	}

	.is_home header {
		min-height: 600px;
	}
	.is_home header .header-composition h1 {
		line-height: 45px;;
	}
	.top-line {
		position: static!important;
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}

	.is_home header .top-line_info{
	padding-top: 20px;
	}
	.is_home header .top-line .logo {
		width: 100px;
		height: 50px;
	}
	.is_home header .top-line_info p:nth-child(3) {
		margin: 0;
		font-size: 14px;
	}
	.is_home header .top-line_info p {
		margin-top: 0;
	}
	.is_home header .header-composition {
		top: 100px;
	}
	.is_home header .top-line_info p:first-child {
		margin: 0 15px 0 0;
		font-size: 11px;
	}
	.is_home header .top-line_info p {
		bottom: 0;
	}
	.is_home header .top-line_info p img {
		display: none;
	}
	.reviews {
		padding: 40px 0;
	}
	.is_home header {
		background-position: 70% 100px;
	}
	.reviews {
		padding: 40px 0;
	}
	.is_home header {
		background-position: 70% 100px;
	}
	.is_home header .header-composition .button-header, .request_call-mob {
		width: 100%;
	}
	.request_call-mob {
		text-align: center;
	}
	.video_our-services .tabs_gif {
		position: static;
		display: none;
	}
	.video_our-services .title_services, .video_our-services .title_video-block {
		margin-top: 40px;
	}
	.video_our-services .title_video-block{
		line-height: 35px;
	}
	.video_our-services .video {
		margin-bottom: 0;
		padding: 0;
		height: 250px;
	}
	.services-wrap {
		margin-top: 0!important;
	}
	.video_our-services .video {
		margin-top: 40px;
		width: auto;
	}
	.advantages .container-video .advantages_gif {
		bottom: 0;
	}
	.advantages .container-video .advantages_blue-box {
		top: -30px;
	}
	.advantages .container-video .advantages_dots {
		bottom: -15px;
	}
	.offer {
		padding: 40px 0;
	}
	.offer .container-offer_composition {
		margin-top: 0;
	}
	.offer .container-offer_composition .logo_tooths {
		display: none;
	}
	.offer .container-offer_composition .title-offer {
		background-color: #eff8ff;
		min-height: 120px;
		position: static;
		padding: 20px 20px;
	}
	.offer .container-offer_composition .container-veneer {
		position: static;
	}
	.offer .container-offer_composition .container-veneer .button-veneers {
		margin-top: 20px;
	}
	.offer .container-offer_composition .container-veneer .offer-veneers {
		margin: 10px 0;
	}
	.offer .container-offer_composition .title-offer .title {
		margin-top: 0;
	}
	.offer .img_veneers {
		margin: 40px auto 0;
		width: 100%;
		display: block;
	}
	.advantages_dots, .advantages_blue-box {
		display: none;
	}
	.advantages .container-video {
		display: block;
		text-align: center;
	}
	.guarantee-s {
		padding-bottom: 40px;
	}
	.guarantee-image {
		display: block;
		position: absolute;
	    z-index: 99;
	    right: 0;
	    bottom: -40px;
	}
	.guarantee-s .guarantee-composition .stc {
		margin-top: 40px;
	}
	.chief_doctor {
		padding: 0 0 80px;
	}
	.chief_doctor .chief_doctor-composition {
		padding: 50px 20px 0 20px;
	}
	.chief_doctor .chief_doctor-composition .name-chief_doctor {
		line-height: 1.3;
		color: #21c0f8;
	}
	.chief_doctor .chief_doctor-composition .under_name-chief_doctor {
		margin-top: 5px;
		color: #000;
	}
	.chief_doctor .chief_doctor-composition .advantages-chief_doctor span {
		text-transform: uppercase;
	}
	.img-guarantee {
		display: none;
	}
	.chief_doctor .chief_doctor-composition, .chief_doctor .video-chief_doctor {
		width: 100%;
	}
	.chief_doctor .chief_doctor-composition {
		box-shadow: none;
	}
	.chief_doctor .video-chief_doctor {
		margin: 20px 0 0 0;
	}
	.title-chief_doctor {
		display: none;
	}
	.chief-title {
		margin: 0;
		padding-bottom: 20px;
		text-align: center;
	}
	.chief_doctor .video-chief_doctor .box-video {
		margin-top: 0;
	}
	.changes-s .under_title-changes {
		margin-bottom: 0;
		padding: 0 15px;
	}
	.changes-s .box_consultation-form {
		width: 100%;
		height: auto;
		margin-top: 40px;
	}
	.changes-s .selection p span {
		margin-left: 10px;
	}
	.composition-example {
		position: static;
	}
	.solve_problems {
		background-color: #f4f4f4;
	}
	.example {
		padding: 50px 0 0;
	}
	.advantages .title_advantages {
		margin-top: 50px;
	}
	.example .row {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		padding: 0 15px;
	}

.example-mob{
	display: block;
}

	.example .example-wrapper-w, .example .example-wrapper-m {
		order: 2;
	}
	.example .composition-example {
		order: 1;
	}
	.example .examble-btn {
		display: none;
	}
	.examble-btn-visible {
		display: block!important;
		margin-top: 80px;
	}
	.example-slider, .example-info {
		width: 100%;
	}
	.example-slider video {
		width: 400px!important;
		height: 400px!important;
	}
	.nav-wrap {
		width: 100%;
	}
	.links-wrap {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}
	.links-wrap li {
		max-width: 50%;
		font-size: 10px;
	}
	.links-wrap li:last-child {
		margin-top: 0;
	}
	.prices-s .container-prices div.price {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		padding: 0;
	}
	.prices-s .container-prices div.price span {
		width: 100%;
		padding: 22px;
		text-align: center;
	}
	.prices-s .container-prices div.price .cost {
		position: static;
		width: 100%;
	}
	.work {
		padding-top: 50px;
		background-color: #f4f4f4;
	}
	.questions-s .box_questions-form {
		margin-top: 50px;
		height: auto;
	}
	.changes-s .selection p {
		width: auto!important;
	}
	.questions-s .box-write {
		display: block;
	}
	footer .top-footer {
		position: static;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
	footer .top-footer .logo-footer {
		position: static;
	}
	footer .top-footer ul {
		margin-left: 0;
		margin: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		width: 100%;
		padding: 0 0 0 20px;
	}
	footer .top-footer ul li {
		position: static!important;
		width: 100%;
		margin-left: 0!important;
		padding-bottom: 20px;
		justify-content: flex-start;
		text-align: left;
	}
	footer .top-footer ul li:nth-child(1) {
		order: 2;
	}
	footer .top-footer ul li:nth-child(2) {
		order: 3;
	}
	footer .top-footer ul li:nth-child(3) {
		order: 4;
	}
	footer .top-footer ul li:nth-child(4) {
		order: 1;
	}
	footer .top-footer ul li span {
		margin-left: 0!important;
	}
	footer .top-footer ul li:nth-child(4) img {
		position: static;
	}
	footer .top-footer ul li:nth-child(4) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	footer .top-footer ul .footer-number {
		padding-left: 10px;
	}
	footer .top-footer ul li p {
		padding-left: 25px;
	}
	footer .bottom-footer {
		padding: 20px 0 0;
	}
	footer .bottom-footer .rights {
		display: block;
	    width: 100%;
	    padding: 10px 0;
	    margin-top: 15px;
	    text-align: center;
	    border-top: 1px solid #ddd;
	}
	.solve_problems {
		background-image: none!important;
	}
	.solve_problems .row .solve_problem {
		position: relative;
		top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		width: 100%;
		height: auto;
		padding: 10px;
		margin-bottom: 10px;
		text-align: left;
		border-radius: 0;
		border: 0;
		box-shadow: 2px 4px 10px #ddd;
	}
	.solve_problems .row .solve_problem:hover {
		background-color: #fff;
	}
	.solve_problems .row .solve_problem:hover .wrapper-solve {
		height: auto;
		box-shadow: none;
	}
	.solve_problems .row .solve_problem:hover .wrapper-solve_title {
		border-bottom: 2px solid #f4f4f4;
	}
	.solve_problems .row .solve_problem:hover .wrapper-solve .wrapper-solve_title {
		width: 100%;
		background-color: transparent;
		text-align: left;
		color: #000;
	}
	.solve_problems .row .solve_problem .fas {
		position: absolute;
		right: 10px;
		width: 30px;
	    height: 30px;
	    top: 10px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    color: #fff;
	    background-color: #21c0f8;
	    border-radius: 50px;
	}
	.solve_problems .row .solve_problem:hover .fas {
		color: #21c0f8;
		background-color: #fff;
		border: 1px solid #21c0f8;
	}
	.solve_problems .row .solve_problem:hover .wrapper-solve .wrapper-solve_content {
		width: 100%;
	}
	.solve_problems .row .solve_problem .wrapper-solve {
		position: static;
	}
	.solve_problems .row .solve_problem .wrapper-solve .wrapper-solve_title {
		width: 100%;
	}
	.solve-problem-wrap {
		display: block;
		margin-top: 20px;
		text-align: center;
	}
	.prices-s .title-prices, .guarantee-s .guarantee-composition .title-guarantee {
		margin-top: 50px;
	}
	.work-panel, .work-slide__bg {
		width: 100%;
		border-radius: 0;
	}
	.work .section-header {
		height: auto!important;
		min-height: 0!important;
		position: static!important;
		padding-bottom: 40px;
	}
	.questions-s .box_questions-form {
		width: 100%;
	}
	.box-video_blue-box, .box-video_dots {
		display: none;
	}
	.photo-gallery .photo {
		width: 100%;
		margin-left: 0!important;
		position: relative;
	}
	.photo-gallery .photo img {
		margin: 0;
		top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}
	.photo-gallery {
		padding: 0 15px;
	}
	.top-footer {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.footer-logo {
		width: 100%;
		text-align: center;
	}
	footer .confidentiality, footer .rights {
		margin-top: 0;
	}
	footer .top-footer {
		border-bottom: 0;
	}
	.bottom-footer {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		padding: 20px 0;
		background-color: #f4f4f4;
	}
	.footer-logo {
		display: none;
	}
	footer .footer-socials {
		display: none;
	}
	.bottom-footer-logo {
		display: block!important;
		padding-bottom: 20px;
	}
	.top-footer-socials {
		display: -webkit-flex!important;
		display: -moz-flex!important;
		display: -ms-flex!important;
		display: -o-flex!important;
		display: flex!important;
	    list-style: none;
	    justify-content: space-evenly;
	    width: 100%;
	    padding: 20px 0 40px 0;
	}
	.bottom-footer .footer-socials {
		margin-bottom: 0;
	}
	.photo-wrap {
		display: none;
	}
	.photo-mobile {
		display: block;
	}
	.photo-item img {
		height: auto;   
	}
	.buttons-photo {
		display: none;
	}
	.chief-box {
		display: none;
	}
	.chief-box-block {
		display: block;
	}
	.chief-box-block .top_button-chief_doctor span {
		color: #21c0f8;
		font-size: 20px;
		font-weight: 700;
	}

header .box_request_call-pop{
	width: 90%;
	margin-left: -45%;
}
header .box_request_call-pop .top_questions-form{
	padding: 20px;
}

header .box_request_call-pop .top_questions-form .title-questions-form{
	font-size: 25px;
	line-height: 1.2;
}

header .box_request_call-pop .top_questions-form .under_title-questions-form{
	font-size: 15px;
}
header .box_request_call-pop .request_call-pop{
	padding: 20px;
}

.video_our-services .container-tooths .tab_content.active ul.check li{
	font-size: 12px;
}

.video_our-services .container-tooths .tab_content.active ul.info_service li{
	font-size: 10px;
}
.video_our-services .container-tooths .tab_content.active ul.info_service li span{
	margin-left: 10px;
}

.video_our-services .container-tooths .tab_content.active ul.info_service li img{
	width: 25px;
}

.video_our-services .container-tooths .tab_content.active ul.check li{
	width: 120px;
}

.video_our-services .container-tooths .tab_content.active ul.check{
	width: 120px;
}
.video_our-services .container-tooths .tab_content.active ul.info_service{
	width: 180px;
}

.video_our-services .container-tooths .tab_content.active ul.check li:nth-child(3){
	width: 150px;
}

.video_our-services .container-tooths .tab_content.active .tabs_price{
	position: relative;
	top: 20px;
}

.tabs_gif-mob{
	display: block;
	width: 100%;
	margin-top: 20px;
	height: 350px;
}

.advantages_gif{
	display: none;
}

.advantages_gif-mob{
	display: inline-block;
	width: 100%;
	margin-top: 30px;
}
.advantages .container-advantages_text p span{
	font-size: 12px;
	line-height: 18px;
}

.advantages .title_advantages{
font-size: 30px;
margin-top: 25px;
margin-bottom: 0px;
}
.offer .container-offer_composition .container-veneer .button-veneers{
	font-size: 12px;
}
.title{
	font-size: 30px;
}

.solve_problems .row .solve_problem .wrapper-solve .wrapper-solve_title {
	font-size: 12px;
}

.prices-s .container-prices div.price span{
	text-align: left;
	padding: 15px;
}

.guarantee-s .guarantee-composition .stc{
	font-size: 22px;
}
.chief_doctor .chief_doctor-composition .name-chief_doctor{
	font-size: 20px;
}

.chief_doctor .chief_doctor-composition .under_name-chief_doctor{
	font-size: 14px;
}

.chief_doctor .chief_doctor-composition .advantages-chief_doctor span{
	font-size: 12px;
}
.button-chief_doctor{
	font-size: 12px;
}

.changes-s .title-changes, .reviews .title-changes{
/*	padding-left: 15px;*/
}
.changes-s .under_title-changes{
	text-align: left;
}
.changes-s .box_consultation-form .consultation-form{
	padding: 20px;
}

.questions-s .box_questions-form .questions-form{
	padding: 20px;
}

.prices-s .box_prices-pop, .video_our-services .box_services-wrap, .offer .box_offer, .chief_doctor .box_chief_doctor, header .box_prices-header{
	width: 90%;
	margin-left: -45%;
	top: 60%;
}

header .box_request_call-pop{
	top: 50%;
}

.video_our-services .box_services-wrap .services-wrap-pop, .offer .box_offer .offer-pop, .prices-s .box_prices-pop .prices-pop,.chief_doctor .box_chief_doctor .chief_doctor-pop, header .box_prices-header .prices-header-pop{
	padding: 20px;
}

.video_our-services .box_services-wrap .top_services-wrap-form .title-services-wrap-form, .offer .box_offer .top_offer-form .title-offer-form, .prices-s .box_prices-pop .top_prices-form .title-prices-form,.chief_doctor .box_chief_doctor .top_chief_doctor-form .title-chief_doctor-form, header .box_prices-header .top_prices-header-form .title-prices-header-form{
	font-size: 18px;
}

.video_our-services .box_services-wrap .top_services-wrap-form , .offer .box_offer .top_offer-form, .prices-s .box_prices-pop .top_prices-form,.chief_doctor .box_chief_doctor .top_chief_doctor-form, header .box_prices-header .top_prices-header-form{
	padding: 20px;
}

/*.video_our-services .box_services-wrap .services-wrap-pop .checkbox_text, .offer .box_offer .offer-pop .checkbox_text, .prices-s .box_prices-pop .prices-pop .checkbox_text,.chief_doctor .box_chief_doctor .chief_doctor-pop .checkbox_text,  header .box_prices-header .prices-header-pop .checkbox_text{
	font-size: 8px;
}*/

.button-advantages{
	display: block;
}

.video_our-services .title_video-block_under{
	font-size: 14px;
}

.video_our-services .title_video-block span{
	color: #21C0F8;
}

.reviews .under_title-changes{
	display: none;
}

.under_title-changes-mob{
	display: block;
	font-size: 14px;
	line-height: 18px;
	color: #717171;
	margin-top: 5px;
	margin-bottom: 20px;
}

.is_home header .top-line{
	border-bottom: 0.5px solid #E0E0E0;
}

.changes-s .selection p{
	margin-top: 20px;
}

.example{
	padding-bottom: 40px;
}

}

@media screen and (max-width: 423px) {
	.video_our-services .box_services-wrap .services-wrap-pop .checkbox_text, .offer .box_offer .offer-pop .checkbox_text, .prices-s .box_prices-pop .prices-pop .checkbox_text,.chief_doctor .box_chief_doctor .chief_doctor-pop .checkbox_text,  header .box_prices-header .prices-header-pop .checkbox_text{
	font-size: 10px;
}
}


@media screen and (max-width: 460px) {
	.is_home header {
		min-height: 500px;
	}

	header .box_request_call-pop .request_call-pop .checkbox_text{
		font-size: 8px;
	}
	.is_home header .top-line .logo {
		margin-top: 0;
		width: 60px;
		height: 30px;
}
	.top-line{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		position: static!important;
		width: 100%;
	}
	.is_home header .top-line_info {
		padding: 0;
	}
	.is_home header .top-line_info p:nth-child(3) {
		padding-top: 0px;
		font-size: 12px;
	}
	.is_home header .top-line_info p:first-child {
		margin-right: 5px;
		font-size: 8px;
	}
	.top-line {
		padding: 10px 0;
	}

	.is_home header .header-composition h1{
		font-size: 30px;
		line-height: 35px;
	}
	.is_home header .header-composition p{
		font-size: 16px;
	}
	.is_home header .header-composition {
		top: 50px;
	}
	.is_home header .header-composition .button-header, .request_call-mob {
		font-size: 14px;
	}
	.links-wrap {

	}
	.links-wrap li {
		width: 50%;
		display: inline-block;
		margin-bottom: 10px;
	}

.example-link.active{
	padding: 15px;
	font-weight: 400;
	line-height: 14px;
	font-size: 10px;
}

.example-link{
	padding: 15px;
	font-weight: 400;
	line-height: 14px;
	font-size: 10px;
}

.example .examble-btn{
	font-size: 12px;
	padding: 22px;
}

.example-link.example-link-m{
	margin-right: 0;
}

	.example-slide{
		margin-left: 0;
	}

	.changes-s .selection p span {
		font-size: 14px;
	}
	.prices-s .container-prices div.price span, .prices-s .container-prices div.price .cost {
		font-size: 12px;
	}

	.changes-s .title-changes, .reviews .title-changes{
		text-align: left;
		font-size: 30px;
	}
	.reviews .under_title-changes{
		text-align: left;
	}

	.offer .container-offer_composition .container-veneer .button-veneers{
		display: none;
	}

	.button-veneers-mob,  .button_prices, .button-advantages {
	display: block;
	font-size: 12px;
	padding: 22px;
}

.chief_doctor .video-chief_doctor .box-video{
	height: 250px;
}

.chief_doctor .video-chief_doctor{
	padding: 0;
}

.chief_doctor .video-chief_doctor .under_title-chief_doctor{
	font-size: 14px;
}

.box_button-chief_doctor{
	padding: 0px 15px;
}

.button-chief_doctor{
	display: block;
	padding: 22px;
}
.changes-s .box_consultation-form .top_consultation-form{
	padding: 20px;
}

.changes-s .box_consultation-form .top_consultation-form .title-consultation-form, .questions-s .box_questions-form .top_questions-form .title-questions-form{
	font-size: 22px;
	line-height: 1.2;
}

.changes-s .box_consultation-form .top_consultation-form .under_title-consultation-form, .questions-s .box_questions-form .top_questions-form .under_title-questions-form{
	font-size: 14px;
}
.changes-s .box_consultation-form .consultation-form .checkbox_text, .questions-s .box_questions-form .questions-form .checkbox_text{
	font-size: 10px;
}

.changes-s .box_consultation-form .consultation-form .form-button, .questions-s .box_questions-form .questions-form .form-button{
	display: block;
	padding: 22px;
	font-size: 12px;
}
.changes-s .title-changes{
	padding-left: 15px;
}

.changes-s .under_title-changes{
	font-size: 14px;
	line-height: 18px;
}

}

@media screen and (max-width: 360px) {

	.video_our-services .box_services-wrap .services-wrap-pop .checkbox_text, .offer .box_offer .offer-pop .checkbox_text, .prices-s .box_prices-pop .prices-pop .checkbox_text,.chief_doctor .box_chief_doctor .chief_doctor-pop .checkbox_text,  header .box_prices-header .prices-header-pop .checkbox_text{
	font-size: 8px;
}

	.changes-s .box_consultation-form .consultation-form .checkbox_text, .questions-s .box_questions-form .questions-form .checkbox_text{
	font-size: 8px;
}

.video_our-services .container-tooths .tab_content.active ul.info_service{
	width: 160px;
}
.video_our-services .container-tooths .tab_content.active ul.info_service li:first-child{
	padding-top: 10px;
}

.video_our-services .container-tooths .tab_content.active ul.info_service li:last-child span{
	font-size: 8px;
}

.changes-s .selection p span{
	font-size: 13px;
}

}
