@import vars
@import fonts
@import libs
@import keyframes

*
	outline: none!important

::placeholder
	color: $purpur
	font-size: 18px
	line-height: 1
	font-family: $default-font


input, textarea
	outline: none
	resize: none
	border: 2px solid rgba(161, 0, 255, 0.06)
	line-height: 1
	background-color: #4F1B84
	display: block
	width: 100%
	font-size: 18px
	color: #fff
	padding: 30px 40px
	border-radius: 20px

label
	margin-bottom: 0

header, section, footer
	position: relative

section, footer
	padding: 100px 0
	background-position: center
	background-size: cover

img
	max-width: 100%
	max-height: 100%

ul
	margin: 0
	padding: 0
	list-style-type: none

a
	text-decoration: none
	color: inherit
	&:hover, &:focus
		text-decoration: none	

p, address
	margin: 0

@mixin blur($px, $brad)
	&::before
		content: ''
		width: 100%
		height: 100%
		position: absolute
		left: 0
		top: 0
		z-index: -1
		border-radius: $brad
		backdrop-filter: blur($px)

h1, h2, h3, h4, h5, h6
	margin: 0
	font-family: Poppins

.h1, .h2
	line-height: 1.2
	color: #fff
	text-transform: uppercase
	font-family: Poppins
	font-weight: 900
	letter-spacing: 0.05em
	font-size: 100px


.h3
	font-size: 60px
	font-weight: 500

.h4
	font-size: 24px

.h5
	font-size: 20px

.h6
	font-size: 18px 


.preloader
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	background-color: $blue
	z-index: 100
	svg
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)



body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background: url('../img/body__background.svg') $blue left top
	background-size: cover
	padding: 0
	margin: 0
	&.scroll_disable
		overflow-y: hidden



.button
	display: flex
	justify-content: center
	align-items: center
	position: relative
	text-decoration: none
	overflow: hidden
	cursor: pointer
	width: 290px
	height: 80px
	font-family: Poppins
	font-weight: 600
	font-size: 22px
	border-radius: 20px
	color: #fff
	transition: .3s ease-in-out
	border: 3px solid $accent
	background-color: $accent
	&:hover, &:focus
		text-decoration: none
	&:hover
		background-color: transparent
	&._transparent
		background-color: transparent
		img
			margin-left: 15px
			animation: eye-blink 5s ease-in-out infinite
		&:hover
			background-color: $accent



.header
	z-index: 5
	padding: 40px 0
	&_sticky
		backdrop-filter: blur(4px)
		background: rgba(107, 33, 172, 0.8)
		display: none
		position: fixed
		left: 0
		top: 0
		width: 100%
		padding: 15px 0!important
		.header
			&__logo
				width: 160px
			&_flex
				align-items: center
	&_flex
		display: flex
		justify-content: space-between
		align-items: flex-start
	&__hamburger
		width: 41px
		height: 41px
		display: none
		flex-direction: column
		align-items: start
		justify-content: space-between
		padding: 12px 10px
		background-color: rgba(255, 255, 255, 0.04)
		border-radius: 5px
		position: relative
		@include blur($px: 4px, $brad: 5px)
		&._active
			.line
				animation: hamburger__line_long .3s ease-in-out
				&._short
					animation: hamburger__line_short .3s ease-in-out
		.line
			height: 3px
			width: 100%
			border-radius: 20px
			background-color: #fff
			&._short
				width: 15px
	&__sidebar
		display: flex
		align-items: center
		justify-content: center
		padding-top: 15px
		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			border-radius: 0 20px 20px 0
			z-index: -1
		&-close
			display: none
			align-items: center
			justify-content: center
			position: absolute
			top: 20px
			left: 20px
			background-color: rgba(255, 255, 255, 0.1)
			backdrop-filter: blur(4px)
			width: 40px
			height: 40px
			border-radius: 5px
			img
				transition: .3s ease-in-out
			&._rotate
				img
					transform: rotate(180deg)
		&-plug
			position: fixed
			top: 0
			right: 0
			height: 100vh
			width: 0
			opacity: 0
			z-index: 4
			transition: .3s .3s ease-in-out
			&._visible
				width: 100%
				opacity: 1
				background-color: rgba(0, 0, 0, 0.8)
		&._visible
			left: 0
			border-radius: 0 20px 20px 0
	&__button
		width: 150px
		height: 45px
		font-size: 14px
		border-radius: 10px
	&__menu 
		display: flex
		align-items: center
		flex-direction: row
		a
			display: inline-block
			color: #fff
			transition: .3s ease-in-out
			padding: 10px 20px
			border-radius: 10px
			margin-right: 25px
			font-size: 18px
			font-family: Poppins
			font-weight: 500
			position: relative
			&::before
				content: ''
				display: inline-block
				width: 0%
				height: 2px
				background-color: #fff
				position: absolute
				top: calc(100% - 10px)
				left: 20px
				transition: .3s ease-in-out
				opacity: 0
			&:hover::before
				width: calc(100% - 40px)
				opacity: 1
	&__dropdown
		position: relative
		margin-right: 25px
		.dropdown
			&__heading
				display: flex
				align-items: center
				justify-content: center
				color: #fff
				transition: .3s ease
				border-radius: 10px
				padding: 10px 20px
				cursor: pointer
				font-weight: 500
				font-family: Poppins
				font-size: 18px
				transition: .4s ease
				border-radius: 10px
				a
					padding: 0
					margin: 0
					&::before
						display: none
				i
					margin-left: 8px
					font-size: 10px
					transition: .4s ease
				&._active
					border-radius: 10px 10px 0px 0px
					background-color: #4A1D87
					i
						transform: rotate(180deg)
					&:hover
						animation: none
			&__body
				display: none
				position: absolute
				top: 100%
				left: 0
				border-top: none
				border-radius: 0px 10px 10px 10px
				width: auto
				padding: 25px
				background-color: #4A1D87
				.flex-wrapper
					display: flex
					flex-flow: row nowrap
			&__col
				margin-right: 40px
				display: flex
				flex-direction: column
				align-items: flex-start
				&:last-child
					margin: 0
				a
					display: inline-block
					white-space: nowrap
					font-size: 13px
					font-weight: 400
					padding: 0
					line-height: 1
					margin-bottom: 15px
					position: relative
					display: inline-block
					&::before
						height: 1px
						left: 0
						top: calc(100% + 2px)
					&:last-child
						margin-bottom: 0
					&:hover
						border-radius: 0
						&::before
							width: 100%
			&__back-btn
				display: none
				margin-top: 50px
	&__social-links 
		margin-left: 25px
		display: flex
		align-items: center
		a
			display: inline-block
			width: 28px
			height: 28px
			padding: 0
			transition: .3s ease-in-out
			margin-right: 10px
			&:last-child
				margin-right: 0
			&:hover
				opacity: 0.8
			img
				width: 100%
				height: 100%
			span
				display: none
				font-family: Poppins
				font-weight: 600
				margin-left: 10px
				text-transform: uppercase
			&._wide
				display: none
				margin-top: 25px
				span
					font-family: GothamPro
					text-transform: none
					font-size: 14px
					font-weight: 400
	&__mail
		width: 41px
		height: 41px
		border-radius: 5px
		background-color: rgba(255, 255, 255, 0.04)
		display: none
		align-items: center
		justify-content: center
		position: relative
		@include blur($px: 4px, $brad: 5px)



.main
	padding: 0
	position: relative
	&_flex
		display: flex
		flex-direction: column
		justify-content: space-between
		height: calc(100vh - 190px)
		padding: 
			top: 30px
			bottom: 30px
	&__image
		position: absolute
		top: 40%
		right: 0
		width: 650px
		height: auto
		max-width: 40%
		transform: translate(0, -50%)
		&_mobile
			display: none
			max-width: 400px
			margin: 0 auto
	&__title
		color: $accent
		span
			color: #fff
	&__subtitle
		display: none
		text-align: center
		font-size: 14px
		font-weight: 400
		max-width: 260px
		margin: 0 auto
		span
			font-weight: 500
	&__buttons
		display: flex
		flex-direction: row
		margin-top: 65px
		.button
			margin-right: 25px
			&:last-child
				margin: 0
	&__benefits
		display: flex
		flex-flow: row nowrap

		color: #fff
		.benefit
			display: flex
			flex-direction: row
			align-items: center
			max-width: 530px
			margin-right: 55px
			padding: 30px 40px
			background: rgba(255, 255, 255, 0.02)
			border-radius: 20px
			&:last-child
				margin: 0
			&__image
				margin-right: 40px
			&__title
				text-transform: uppercase
				font-family: Poppins
				font-weight: 900
				letter-spacing: 0.07em
				margin-bottom: 15px
			&__text
				line-height: 1.2
				color: $light
				font-size: 16px


.ishome
	.main__title span
		margin-left: -10px


.about
	padding: 200px 0
	&__line
		position: absolute
		top: 0
		right: 0
		width: 100%
		height: 1300px
	&__title
		margin-bottom: 60px
	&__text
		width: 100%
		max-width: 770px
		font-size: 22px
		color: $light
		z-index: 3
		position: relative
		._white
			font-weight: 500
			color: #fff
	&__image
		display: none
		margin-bottom: 40px
	&__container
		display: flex
		flex-flow: row nowrap
		margin-top: 180px
		justify-content: space-between
		z-index: 3
		position: relative
	&__box
		max-width: 350px
		text-align: center
		position: relative
		&._second
			bottom: 150px
		&._third
			bottom: 350px
		.h5
			text-transform: uppercase
			margin-bottom: 15px
			font-weight: 900
			font-family: Poppins
			letter-spacing: 0.07em
		p
			line-height: 1.2
			font-size: 18px
			letter-spacing: -0.015em
			color: $light
	&__button
		display: none



.advantages
	display: none
	&__title
		margin-bottom: 30px
		span
			color: $accent
		&-item
			font-family: Poppins
			font-weight: 800
			font-size: 21px
			text-transform: uppercase
			margin-bottom: 10px
			letter-spacing: 0.05em
			line-height: 1.2
	&__text
		font-size: 16px
		color: $light
		line-height: 1.2
	&__item
		margin-bottom: 20px
		background-size: cover
		background-position: center
		height: 235px
		display: flex
		flex-direction: column
		justify-content: center
		align-items: flex-start
		padding: 0 25px
		&._1
			background-image: url('../img/advantages/item-bg_1.png')
		&._2
			background-image: url('../img/advantages/item-bg_2.png')
		&._3
			background-image: url('../img/advantages/item-bg_3.png')
		&._4
			background-image: url('../img/advantages/item-bg_4.png')
		&._5
			background-image: url('../img/advantages/item-bg_5.png')



.tabs-section
	padding: 0 0 100px
	.tabs
		&__caption
			display: flex
			align-items: center
			justify-content: space-between
			flex-direction: row
			margin-bottom: 80px
			height: 150px
			li
				font-size: 48px
				transition: .3s ease
				text-transform: uppercase
				opacity: 0.4
				font-family: Poppins
				color: #fff
				cursor: pointer
				letter-spacing: 0.05em
				font-weight: 900
				&.active, &.active:hover
					opacity: 1
					font-size: 100px
				&:hover
					font-size: 52px
					opacity: 0.7
		&__content
			display: none
			&.active
				display: block
			&.services
				.tabs-section
					&__container
						justify-content: center
					&__box
						background-image: url('../img/services/tabs__box-bg.svg')
						background-size: cover
						background-position: center bottom
						width: 360px
						height: 565px
						padding: 50px 50px
						display: flex
						flex-wrap: wrap
						justify-content: center
						text-align: center
						margin-right: 20px
						&:last-child
							margin: 0
						img
							margin-bottom: 0
					&__img
						margin-bottom: 25px
						height: 200px
					&__title
						line-height: 1.5
						min-height: 65px
						display: flex
						justify-content: center
						align-items: center
					&__text
						margin-bottom: 20px
						min-height: 70px
						font-size: 16px
					&__button
						width: 210px
						height: 55px
						font-size: 16px
						border-radius: 10px
						align-self: flex-end
			&.capacities
				.capacities
					&__container
						display: flex
						justify-content: space-between
						align-items: flex-start
						padding: 50px 0
					&__row
						display: flex
						flex-flow: row nowrap
						align-items: center
						margin-bottom: 10px
						&:last-child
							margin-bottom: 0
					&__number
						font-family: Poppins
						font-weight: 700
						font-size: 110px
						line-height: 1.2
						color: $accent
						width: 180px
						margin-right: 100px
					&__caption
						font-family: Poppins
						font-weight: 700
						font-size: 24px
						color: $light
						letter-spacing: 0.05em
					&__text
						font-size: 24px
						width: 650px
						margin-bottom: 70px
						&:last-child
							margin-bottom: 0
	&__container
		display: flex
		justify-content: space-between
	&__box
		text-align: center
		padding: 80px 55px
		width: 460px
		height: 580px
		background-image: url('../img/main/tabs__box-bg.svg')
		background-size: cover
		background-position: center
		img
			display: inline-block
			margin-bottom: 50px
		.h4
			margin-bottom: 20px
			line-height: 1
			font-weight: 800
			text-transform: uppercase
			letter-spacing: 0.07em
		p
			color: $light
			font-size: 18px
			line-height: 1.2
	&__buttons
		display: flex
		flex-direction: row
		justify-content: center
		margin-top: 80px
		.button
			margin-right: 25px
			&:last-child
				margin: 0

		

.works
	padding: 100px 0 150px
	&__line
		position: absolute
		top: 100px
		left: 0
		width: 100%
		height: 1300px
	&__title
		display: flex
		justify-content: flex-end
		.h2
			font-size: 200px
			line-height: 1
			letter-spacing: 0
			text-align: center
		span
			margin-top: 15px
			font-size: 24px
			letter-spacing: 0.04em
			text-transform: none
			color: $light
			font-weight: 700
			font-family: $default-font
			display: block
	&__wrapper
		display: flex
		flex-flow: row nowrap
		justify-content: space-between
		position: relative
		margin-top: 480px
	&__box
		position: relative
		cursor: pointer
		display: inline-block
		img
			border-radius: 5px
			box-shadow: 0px 20px 50px rgba(31, 1, 60, 0.31)
			transition: .6s ease-in-out
			width: 325px
		&:hover img
			transform: translate(0, -50px)
		&._1
			bottom: 390px
		&._2
			bottom: 200px
		&._3
			bottom: 90px
	&__button
		margin: 10px auto 0



.our-clients, .tech
	padding: 50px 0 0
	&__title
		text-align: center
		margin-bottom: 70px
	&__caption
		font-size: 18px
		text-align: center
		margin-top: 20px
		line-height: 1
		opacity: 0.5
		transition: .5s
	&__slide
		text-align: center
	&__slider
		max-width: 1270px
		margin: 0 auto
		.slick-slide
			display: flex
			align-items: center
			justify-content: center
			padding: 30px 0
			img
				opacity: 0.5
				transform: scale(0.7)
				transition: .5s
			&.slick-center
				img
					transform: scale(1)
					opacity: 1
				.tech__caption
					font-size: 24px
					font-weight: 700
					opacity: 1
		.slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"]
			transform: scale(1)
			img
				opacity: 1
				transition: .5s
				transform: scale(1)
			.tech__caption
				font-size: 24px
				font-weight: 700
				opacity: 1
	&__button
		margin: 80px auto 0

.tech
	padding: 100px 0
	&__slider
		height: 275px
	&__image_mobile
		display: none
		margin: 0 auto



.reviews
	padding-top: 0
	.review
		max-width: 460px
		min-height: 575px
		width: 100%
		padding: 65px 60px 80px
		background: linear-gradient(241.37deg, rgba(132, 29, 202, 0.5) 0.67%, rgba(132, 29, 202, 0) 146.71%)
		box-shadow: 0 0 30px #3D0B5C
		border-radius: 10px
		transition: .7s
		&__top
			display: flex
			align-items: center
			justify-content: center
			flex-direction: column
			text-align: center
			margin-bottom: 30px
		&__image
			margin-bottom: 10px
		&__name
			font-weight: 700
			font-size: 18px
			margin-bottom: 5px
		&__position
			color: $purpur
			font-style: italic
			line-height: 1.2
			font-size: 16px
			letter-spacing: -0.015em
			line-height: 1.1
		&__text
			margin: 60px 0 0
			font-style: italic
			line-height: 1.3
			text-align: center
			position: relative
			font-size: 18px
			&:before, &:after
				content: ''
				position: absolute
				width: 15px
				height: 15px
				background-image: url('../img/our_clients/quotes.svg')
				background-size: cover
				background-position: center
			&:before
				left: 0
				bottom: calc(100% + 10px)
			&:after
				right: 0
				top: calc(100% + 10px)
				transform: scale(-1, -1)
		&__slider
			padding: 80px 50px

			.slick-track
				display: flex
				align-items: center
			.slick-dots
				display: flex
				justify-content: center
				bottom: 20px
				left: 0
				li 
					width: 15px
					height: 15px
					button
						display: flex
						align-items: center
						justify-content: center
						height: 100%
						width: 100%
						padding: 0
						&::before
							font-size: 15px
							line-height: 1
							height: auto
							width: auto
							color: #fff
							transition: .7s ease
							position: relative
			.slick-slide
			
				opacity: 0.7
				transition: .7s
				transform: scale(0.85)
				display: flex
				align-items: center
				justify-content: center
				margin: 20px 0
				&.slick-center
					opacity: 1
					transform: scale(1)
			.slick-prev, .slick-next
				height: 40px
				width: 40px
				z-index: 3
				background-color: rgba(255, 255, 255, 0.11)
				transition: .3s ease
				&:before
					font-family: fontawesome
					color: #fff
					font-size: 12px
					transition: .3s ease
				&:hover
					background-color: rgba(255, 255, 255, 1)
					&::before
						color: #62179A
				&:active
					transform: scale(0.9)
			.slick-prev
				border-radius: 100% 0 0 100%
				left: 0
				&::before
					content: '\f053'
			.slick-next
				border-radius: 0 100% 100% 0
				right: 0
				&::before
					content: '\f054'



.s-form
	background: linear-gradient(180deg, rgba(51, 3, 80, 0.34) 0%, rgba(51, 3, 80, 0.34) 100%)
	&_flex
		display: flex
		align-items: center
		justify-content: space-between
	&__title
		font-size: 64px
		letter-spacing: normal
		margin-bottom: 40px
		span
			color: $accent
	&__subtitle
		font-size: 18px
		font-weight: 400
		margin-bottom: 30px
	&__form
		width: 460px
	&__input
		margin-bottom: 25px
		&-wrap
			position: relative
			&::after
				content: ''
				position: absolute
				right: 40px
				top: 50%
				transform: translate(0, -50%)
				width: 28px
				height: 28px
				background-image: url('../img/form__clip.svg')
				background-size: cover
				background-position: center
		&[type="file"]
			opacity: 0
			position: absolute
			left: 0
			top: 0
			z-index: 2
			font-size: 0
			height: 100%
	&__textarea
		height: 120px
	&__image
		width: 865px
		text-align: right
	&__button
		width: 100%
		margin-top: 25px



.footer
	padding: 80px 0
	&_flex
		display: flex
		justify-content: space-between
		align-items: flex-start
	&_bottom
		margin-top: 30px
		display: flex
		align-items: center
		justify-content: space-between
	&__logo
		width: 160px
		display: inline-block
	&__mail
		margin-top: 120px
		display: flex
		align-items: center
		justify-content: center
		.mail
			&__img
				margin-right: 10px
			&__text
				line-height: 1.2
				a
					font-size: 14px
					letter-spacing: -0.02em
					display: inline-block
	&__menu
		display: flex
		justify-content: center
		align-items: flex-start
		.menu
			&__col
				display: flex
				flex-direction: column
				margin-right: 140px
			&__heading
				font-weight: 600
				margin-bottom: 25px
			&__link
				font-size: 18px
				margin-bottom: 20px
				line-height: 1
	&__social-links
		display: flex
		align-items: center
		margin-top: 10px
		.social-links
			&__heading
				font-weight: 600
				margin-right: 20px
			&__link
				margin-right: 8px
				&:last-child
					margin-right: 0
				&:hover
					opacity: 0.8
	&__copyrights
		font-size: 18px
		color: $purpur
		font-family: Poppins
	&__privacy-mobile
			display: none
			font-size: 10px
			color: rgba(255, 255, 255, 0.42)
			margin-top: 5px
	&__to-top
		color: #5E1B9D
		background-color: $purpur
		border: none
		border-radius: 10px
		width: 45px
		height: 45px
		display: flex
		align-items: center
		justify-content: center
		font-size: 14px
		cursor: pointer
	
	

.isnohome
	.h1, .h2
		font-size: 70px
		color: #fff
		span
			color: $accent
	.main
		padding: 30px 0 100px

		.flex_center
			align-items: center
			&>*:nth-child(2)
				display: flex
				justify-content: flex-end
				
		&__title
			margin-bottom: 80px
		&__text
			font-size: 22px
			color: $light
			line-height: 1.3
			span
				font-weight: 500
				color: #fff
		&__image
			text-align: right
			position: static
			transform: none
			max-width: 100%
	.tech, .platforms
		&__title
			margin-bottom: 70px
		&__text
			font-size: 21px
			line-height: 1.3
			color: $purpur
			margin-bottom: 90px
		&__image
			display: flex
			align-items: flex-end
			img
				width: 100%
		&__container
			display: flex
			flex-flow: row wrap
			justify-content: space-between
			height: auto
			position: relative
			right: 50px
		&__box
			display: flex
			align-items: center
			justify-content: center
			flex-direction: column
			text-align: center
			width: 33.3%
			margin-bottom: 50px
			img
				width: 100px
				height: 100px
		&__caption
			font-size: 18px
			font-weight: 500
			margin-top: 20px
			color: #B8B4D0
	.reviews
		padding: 100px 0 0
		&__title
			margin-bottom: 0
			text-align: center
	.our-clients
		padding: 50px 0 100px
	.tabs-section
		padding: 100px 0
		.h2
			text-align: center
			margin-bottom: 80px
		&__container
			justify-content: center
		&__box
			background-image: url('../img/services/tabs__box-bg.svg')
			background-size: cover
			background-position: center bottom
			width: 360px
			height: 565px
			padding: 50px 50px
			display: flex
			flex-wrap: wrap
			justify-content: center
			text-align: center
			margin-right: 20px
			&:last-child
				margin: 0
			img
				margin-bottom: 0
		&__img
			margin-bottom: 25px
			height: 200px
		&__title
			line-height: 1.5
			min-height: 65px
			display: flex
			justify-content: center
			align-items: center
		&__text
			margin-bottom: 20px
			min-height: 70px
			font-size: 16px
		&__button
			width: 210px
			height: 55px
			font-size: 16px
			border-radius: 10px
			align-self: flex-end
	.s-form
		&__title
			font-size: 56px		



.p
	&-join
		.s-form
			&__title
				white-space: nowrap
	&-porting
		.roadmap__row
			padding: 0 50px
	&-co
		.main__title
			white-space: nowrap
	&-ads
		.approach
			&__wrapper
				max-width: 670px
			&__heading
				letter-spacing: normal
			&__text
				letter-spacing: normal
				br
					display: none
			&__number
				display: none
				width: 32px
				height: 32px
				display: none
				align-items: center
				justify-content: center
				position: absolute
				right: 20px
				top: 20px
				background: rgba(255, 255, 255, 0.04)
				border-radius: 10px
				font-family: Poppins
				font-weight: 700
				font-size: 10px
				color: #fff
		.tech__image 
			justify-content: center
			img
				height: 540px
				width: auto
				display: inline-block
		.platforms
			&__title
				text-align: center
			&__container
				right: 0
			&__box
				width: 20%
	&-level-design
		.blocks
			&__box
				width: 425px
				height: 580px
	&-localization
		.main__image
			right: -60px
			position: relative
		.image-list
			&__title
				text-align: left
			&__heading
				margin-bottom: 50px
				font-family: $default-font
				font-weight: 700
				color: #cbb7d8
				letter-spacing: 0.05em
			&__item
				margin-bottom: 45px
			&__text
				text-transform: uppercase
				font-weight: 600
				font-family: Poppins
				letter-spacing: 0.05em
			&__location
				display: flex
				align-items: center
				flex-flow: row nowrap
				justify-content: space-between
				padding: 30px 40px
				background: rgba(255, 255, 255, 0.04)
				border-radius: 15px
				margin-top: 20px
				p
					width: calc(100% - 110px)
					font-size: 15px
					line-height: 1.3
					letter-spacing: 0.05em




.cooperation
	&__title
		text-align: center
		margin-bottom: 60px
	&_flex
		display: flex
		justify-content: space-evenly
		align-items: flex-start
		flex-flow: row wrap
	&__box
		width: 370px
		margin: 40px
		text-align: center
	&__image
		margin-bottom: 50px
	&__heading
		text-transform: uppercase
		margin-bottom: 20px
		position: relative
		display: inline-block
		letter-spacing: 0.05em
	&__number
		position: absolute
		bottom: -15px
		right: 100%
		transform: translate(25px, 0)
		color: #fff
		font-size: 95px
		opacity: 0.1
		line-height: 1
	&__text
		font-size: 18px
		line-height: 1.3
		color: #DCD2FF



.positions
	&__title
		text-align: center
		margin-bottom: 100px
	&__container
		display: flex
		flex-flow: row wrap
		align-items: stretch
		justify-content: space-evenly
	&__box
		width: 430px
		padding: 70px 20px
		background: linear-gradient(181.02deg, rgba(47, 1, 107, 0.5) -40.58%, rgba(110, 0, 255, 0) 118.64%)
		box-shadow: 0px 50px 100px rgba(11, 1, 99, 0.5)
		border-radius: 10px
		text-align: center
		margin-bottom: 60px
	&__image
		margin-bottom: 60px
	&__heading
		letter-spacing: 0.07em
		text-transform: uppercase
		color: $accent
		font-size: 22px
		margin-bottom: 20px
		font-weight: 900
	&__list
		letter-spacing: 0.07em
		text-align: center
		font-size: 20px
		font-family: Poppins
		font-weight: 900
		li
			margin-bottom: 10px
			&:last-child
				margin-bottom: 0
	&__text
		font-weight: 700
		font-size: 24px
		max-width: 650px
		margin: 20px auto 0
		color: #dcd2ff
		text-align: center
		line-height: 1.4
	&__button
		margin: 40px auto 0



.luring
	padding-bottom: 350px
	&__line
		position: absolute
		top: -100px
		left: 0
		width: 100%
		height: 1300px
	&__title
		text-align: center
	&__container
		display: flex
		flex-flow: row nowrap
		justify-content: space-between
		z-index: 3
		margin-top: 320px
		position: relative
	&__box
		max-width: 300px
		text-align: center
		position: relative
		&._first
			bottom: 260px
			max-width: 330px
		&._second
			bottom: 80px
		&._third
			bottom: 60px
		.h5
			text-transform: uppercase
			margin-bottom: 15px
			font-weight: 900
			font-family: Poppins
			letter-spacing: 0.07em
		p
			line-height: 1.2
			font-size: 16px
			letter-spacing: -0.015em
			color: $light
	&__number
		position: absolute
		right: 20px
		top: 20px
		width: 32px
		height: 32px
		display: none
		align-items: center
		justify-content: center
		font-family: Poppins
		background-color: rgba(255, 255, 255, 0.04)
		font-size: 10px
		font-weight: 700
		border-radius: 10px



.roadmap
	&__title
		text-align: center
	&__line_center
		position: absolute
		top: 0
		left: 50%
		transform: translate(-50%, 0)
	&__container
		position: relative
		margin-top: 150px
	&__row
		display: flex
		justify-content: space-between
		align-items: center
		padding: 0 100px
		margin-bottom: 100px
		&:last-child
			margin-bottom: 0
	&__heading
		font-size: 36px
		text-transform: uppercase
		letter-spacing: 0.05em
		margin-bottom: 30px
		position: relative
	&__list
		li
			display: flex
			align-items: flex-start
			font-size: 18px
			letter-spacing: 0.05em
			line-height: 1
			margin-bottom: 10px
			&::before	
				content: '\f111'
				font-family: 'Font Awesome 5 Free'
				color: $accent
				font-weight: 900
				margin-right: 20px



.start
	.flex-center
		display: flex
		align-items: center
	&__title
		margin-bottom: 100px
	&__subtitle
		margin-bottom: 80px
		font-family: $default-font
		font-weight: 700
	&__container
		display: flex
		flex-flow: row wrap
	&__box
		width: 310px
		height: 310px
		margin:
			right: 50px
			bottom: 50px
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		position: relative
		background: linear-gradient(242.19deg, rgba(88, 21, 134, 0.5) -17.05%, rgba(110, 0, 255, 0) 174.31%)
		box-shadow: 0px 50px 100px rgba(61, 11, 92, 0.5)
		border-radius: 10px
	&__number
		position: absolute
		top: 20px
		right: 45px
		font-family: Poppins
		font-size: 24px
		font-weight: 700
		color: rgba(255, 255, 255, 0.61)
	&__text
		text-align: center
		font-size: 20px
		line-height: 1.2
		font-weight: 500
	&__icon
		width: 140px
		height: 140px
		display: flex
		align-items: center
		justify-content: center
		margin-bottom: 15px



.blocks
	&__title
		margin-bottom: 80px
		text-align: center
	&__container
		display: flex
		justify-content: space-between
	&__number
		width: 32px
		height: 32px
		background: rgba(255, 255, 255, 0.04)
		border-radius: 10px
		font-size: 10px
		font-family: Poppins
		font-weight: 700
		position: absolute
		top: 25px
		right: 25px
		display: none
		justify-content: center
		align-items: center
	&__box
		text-align: center
		padding: 80px 60px
		width: 480px
		height: 670px
		background-image: url('../img/porting/block__bg.svg')
		background-size: cover
		background-position: center
		position: relative
		border-radius: 20px
		background-position: center bottom
		img
			display: inline-block
			margin-bottom: 50px
		.h4
			margin-bottom: 20px
			line-height: 1.3
			font-weight: 800
			text-transform: uppercase
			letter-spacing: 0.07em
		p
			color: $light
			font-size: 18px
			line-height: 1.2
	


.process
	.flex-center
		display: flex
		align-items: center
	&__title
		margin-bottom: 100px
	&__subtitle
		font-weight: 400
		line-height: 1.2
		color: $purpur
		margin-bottom: 80px
		font-family: $default-font
	&__container
		display: flex
		justify-content: space-between
	&__col
		width: calc(50% - 40px)
	&__box
		width: 100%
		height: 85px
		display: flex
		flex-flow: row nowrap
		align-items: center
		border-radius: 40px 20px 20px 40px
		background-color: rgba(161, 0, 255, 0.2)
		margin-bottom: 40px
		&:last-child
			margin-bottom: 0
	&__number
		width: 85px
		height: 100%
		display: flex
		align-items: center
		justify-content: center
		color: #450A8B
		background-color: #fff
		border-radius: 100%
		margin-right: 40px
		font-family: Poppins
		font-weight: 900
		font-size: 40px
	&__text
		font-size: 20px
		line-height: 1.2
	&__image
		width: 100%



.preview
	&__container
		padding: 0
	&__title
		text-align: center
		letter-spacing: normal
	&__category
		font-size: 18px
		font-weight: 600
		line-height: 1.2
		text-transform: capitalize
		margin-bottom: 10px
		color: #d1c5fc
	&__name
		text-transform: uppercase
		font-weight: 700
		margin-bottom: 50px
		font-size: 28px
	&__text
		max-width: 340px
		font-size: 16px
		color: $purpur
		line-height: 1.4
		margin-bottom: 30px
		font-weight: 500
	&__slide
		box-shadow: 0px 50px 100px rgba(4, 1, 33, 0.5)
		height: 100%
		background: linear-gradient(120.43deg, rgba(47, 1, 107, 0.5) -21.93%, rgba(110, 0, 255, 0.5) 116.4%)
		border-radius: 20px
		display: flex !important
		flex-flow: row nowrap
		justify-content: space-between
		align-items: center
		padding: 120px 100px
		position: relative
		&::before
			content: ''
			width: 100%
			height: 100%
			position: absolute
			left: 0
			top: 0
			border-radius: 20px
			opacity: 0.5

			background-size: cover
			background-position: center
	&__image
		align-self: center
	.slick-slide
		margin: 100px 40px 150px
		width: 1200px
		height: 615px
		opacity: 0.7
		transform: scale(0.9)
		transition: .7s
		display: flex
		align-items: center
		justify-content: center
		&.slick-center
			opacity: 1
			transform: scale(1)
	.slick-prev, .slick-next
		height: 40px
		width: 40px
		z-index: 3
		background-color: rgba(255, 255, 255, 0.11)
		transition: .3s ease
		&:before
			font-family: fontawesome
			color: #fff
			font-size: 12px
			transition: .3s ease
		&:hover
			background-color: rgba(255, 255, 255, 1)
			&::before
				color: #62179A
		&:active
			transform: scale(0.9)
	.slick-prev
		border-radius: 100% 0 0 100%
		left: calc((100vw - 1380px)/2)
		&::before
			content: '\f053'
	.slick-next
		border-radius: 0 100% 100% 0
		right: calc((100vw - 1380px)/2)
		&::before
			content: '\f054'
	.slick-dots
		display: flex
		justify-content: center
		bottom: 80px
		left: 0
		li 
			width: 15px
			height: 15px
			button
				display: flex
				align-items: center
				justify-content: center
				height: 100%
				width: 100%
				padding: 0
				&::before
					font-size: 15px
					line-height: 1
					height: auto
					width: auto
					color: #fff
					transition: .7s ease
					position: relative



.other
	&__title
		margin-bottom: 80px
	&__container
		display: flex
		justify-content: space-between
		flex-flow: row wrap
	&__box
		width: calc(33.3% - 10px)
		height: 210px
		background: linear-gradient(242.19deg, rgba(88, 21, 134, 0.5) -17.05%, rgba(110, 0, 255, 0) 174.31%)
		box-shadow: 0px 50px 100px rgba(61, 11, 92, 0.5)
		margin-bottom: 20px
		border-radius: 10px
		display: flex
		flex-flow: row nowrap
		justify-content: space-between
		align-items: center
		padding: 0 40px 0 50px
	&__heading
		margin-bottom: 30px
		font-weight: 600
		min-height: 70px
	&__button
		width: 165px
		height: 45px
		font-size: 14px
		border-radius: 10px



.approach
	&__title
		margin-bottom: 100px
		text-align: center
	&__container
		position: relative
		margin-bottom: 80px
		display: flex
		align-items: center
		justify-content: space-between
		padding: 130px 100px

		border-radius: 10px
		box-shadow: 0px 50px 100px rgba(11, 1, 99, 0.8)
		&:last-child
			margin-bottom: 0
	&__number
		position: absolute
		top: 80px
		font-family: Poppins
		font-weight: 900
		font-size: 64px
		letter-spacing: 0.05em
		color: #A100FF
		&._left
			left: 80px
		&._right
			right: 80px
	&__wrapper
		max-width: 560px
	&__heading
		font-size: 48px
		font-weight: 900
		text-transform: uppercase
		letter-spacing: 0.05em
		margin-bottom: 50px
		line-height: 1.2
		span
			color: $accent
	&__text
		margin-bottom: 60px
		color: #DCD2FF
		font-size: 20px
		letter-spacing: 0.05em
		line-height: 1.3
		&-full
			margin-bottom: 50px
	&__image
		max-width: 50%
	&__button_mobile
		display: none



.expertise
	&__title
		margin-bottom: 100px
		text-align: center
	&__container
		position: relative
		margin-bottom: 150px
		display: flex
		align-items: center
		justify-content: space-between
		&:last-child
			margin-bottom: 0
	&__wrapper
		max-width: 800px
	&__heading
		font-size: 48px
		font-family: Poppins
		text-transform: uppercase
		letter-spacing: 0.06em
		font-weight: 700
		margin-bottom: 40px
	&__text
		margin-bottom: 50px
		color: #A094C9
		font-size: 22px
		line-height: 1.3
		&._restrictions
			max-width: 545px
	&__image
		width: 50%
		display: flex
		align-items: center
		justify-content: center
		&_mobile
			display: none



.image-list
	._flex-center
		align-items: center
	&__title
		text-align: center
		margin-bottom: 100px
	&__item
		width: 100%
		height: 85px
		display: flex
		flex-flow: row nowrap
		align-items: center
		border-radius: 40px 20px 20px 40px
		background-color: rgba(161, 0, 255, 0.2)
		margin-bottom: 25px
		&:last-child
			margin-bottom: 0
	&__number
		width: 85px
		height: 100%
		display: flex
		align-items: center
		justify-content: center
		color: #450A8B
		background-color: #fff
		border-radius: 100%
		margin-right: 40px
		font-family: Poppins
		font-weight: 900
		font-size: 40px
	&__text
		font-size: 20px
		line-height: 1.2
		width: calc(100% - 150px)



.solutions
	&__title
		text-align: center
		margin-bottom: 100px
	&__container 
		display: flex
		align-items: center
		justify-content: center
		flex-flow: row wrap
	&__box
		margin: 25px
		width: 340px
		height: 340px
		background: rgba(255, 255, 255, 0.02)
		border-radius: 20px
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		text-align: center
	&__icon
		height: 160px
		display: flex
		align-items: center
		justify-content: center
		img
			height: 100%
	&__caption
		margin-top: 32px
		font-weight: 400
		font-family: $default-font
		text-align: center
		line-height: 1.2



.approach-cols
	&__title
		text-align: center
		margin-bottom: 120px
	&__image
		text-align: center
		img
			height: 100%
	&__heading
		font-weight: 700
		font-size: 48px
		margin-bottom: 80px
		position: relative
		span
			color: $accent
	&__box
		margin-bottom: 25px
		display: flex
		align-items: center
		flex-flow: row nowrap
		&:last-child
			margin-bottom: 0
	&__number
		width: 75px
		height: 75px
		display: flex
		align-items: center
		justify-content: center
		border-radius: 100%
		background-color: #fff
		font-size: 36px
		font-family: Poppins
		color: #450A8B
		font-weight: 700
		margin-right: 50px
		&_mobile
			position: absolute
			right: 25px
			top: 50%
			transform: translate(0, -50%)
			width: 32px
			height: 32px
			font-size: 10px
			font-family: Poppins
			font-weight: 700
			display: none
			align-items: center
			justify-content: center
			background: rgba(255, 255, 255, 0.04)
			border-radius: 10px
			color: #fff
	&__text
		font-size: 24px
		line-height: 1.2
		width: calc(100% - 125px)



.benefits
	&__title
		text-align: center
		margin-bottom: 70px
	&__container
		text-align: center
		margin-bottom: 150px
	&_flex
		display: flex
		justify-content: center
		align-items: flex-start
		margin-top: 20px
		justify-content: space-between
	&__box
		width: 190px
		display: flex
		flex-direction: column
		align-items: center
		text-align: center
		position: relative
		&:first-child
			left: -30px
		&:last-child
			right: -30px
	&__caption
		margin-top: 30px
		line-height: 1.2
		text-transform: uppercase
		white-space: nowrap
	&__wrapper
		margin-bottom: 45px
	&__heading
		font-family: $default-font
		font-weight: 700
		margin-bottom: 25px
		font-size: 20px
	&__text
		color: $purpur
		font-size: 18px



.creature
	._flex-center
		align-items: center
		margin-bottom: 100px
	&__title
		line-height: 1.2
		margin-bottom: 100px
	&__subtitle, &__text
		max-width: 550px
	&__subtitle
		font-weight: 400
		font-family: $default-font
		line-height: 1.2
		margin-bottom: 40px
	&__text
		font-size: 18px
		color: $purpur
		margin-bottom: 40px
	&__heading
		margin-bottom: 100px
		text-align: center
		text-transform: uppercase
		font-weight: 700
		font-size: 36px
	&__container
		display: flex
		justify-content: space-between
		align-items: stretch
	&__box
		width: calc(33.3% - 10px)
		background: rgba(255, 255, 255, 0.04)
		border-radius: 20px
		padding: 100px 80px 70px
		display: flex
		flex-direction: column
		align-items: center
		text-align: center
		position: relative
	&__number
		position: absolute
		left: 50%
		top: 0
		transform: translate(-50%, -50%)
		width: 85px
		height: 85px
		display: flex
		align-items: center
		justify-content: center
		background-color: #fff
		border-radius: 100%
		font-size: 40px
		color: #450A8B
		font-family: Poppins
		font-weight: 900
	&__example
		margin-bottom: 50px
	&__caption
		color: $accent
		text-transform: uppercase
		margin-bottom: 30px
		line-height: 1.2
		font-family: Poppins
		font-weight: 900
	&__description
		font-size: 16px
		line-height: 1.4
	.slick-dots
		display: none
		justify-content: center
		bottom: 20px
		left: 0
		li 
			width: 8px
			height: 8px
			margin: 0 3px
			button
				display: flex
				align-items: center
				justify-content: center
				height: 100%
				width: 100%
				padding: 0
				&::before
					font-size: 8px
					line-height: 1
					height: auto
					width: auto
					color: #fff
					transition: .7s ease
					position: relative



.game-solutions
	._flex-center
		align-items: center
		margin-top: 160px
	&__title
		margin-bottom: 100px
	&__subtitle
		margin-bottom: 80px
		font-size: 28px
		font-weight: 400
		font-family: $default-font
		line-height: 1.2
	&__container
		display: flex
		flex-flow: row wrap
		justify-content: space-between
	&__box
		width: calc(50% - 15px)
		margin-bottom: 30px
		height: 210px
		display: flex
		align-items: center
		font-family: row nowrap
		justify-content: space-between
		padding: 0 30px
		background: linear-gradient(242.19deg, rgba(88, 21, 134, 0.5) -17.05%, rgba(110, 0, 255, 0) 174.31%)
		box-shadow: 0px 50px 100px rgba(61, 11, 92, 0.5)
		border-radius: 10px
	&__wrapper, &__icon
		max-width: 50%
	&__number
		color: rgba(255, 255, 255, 0.17)
		font-size: 48px
		font-weight: 800
		font-family: Poppins
		line-height: 1
	&__caption
		font-size: 18px
		font-family: $default-font
		line-height: 1.2
		margin-top: 20px
		white-space: nowrap
	&__icon
		display: flex
		align-items: center
		justify-content: center
	&__image
		display: flex
		align-items: flex-end
	&__text
		margin-bottom: 40px
		font-size: 22px
		letter-spacing: 0.05em
		color: $purpur
		line-height: 1.2
		&._white
			color: #fff
			font-weight: 500
	&__button_mobile
		display: none
		margin-top: 15px
			


.design-process
	&__title
		margin-bottom: 100px
	&__subtitle
		max-width: 660px
		font-weight: 400
		color: $purpur
		font-family: $default-font
		letter-spacing: 0.05em
		line-height: 1.2
		margin-bottom: 80px
	&__container
		display: flex
		flex-flow: row wrap
	&__box
		width: 25%
		margin: 40px 0
	&__number
		font-size: 48px
		line-height: 1.2
		color: #A100FF
		font-weight: 700
		font-family: Poppins
		margin-bottom: 20px
	&__heading
		text-transform: uppercase
		font-weight: 600
		margin-bottom: 15px
	&__text
		letter-spacing: 0.05em
		line-height: 1.2



.level-solutions
	._bottom-offset
		margin-bottom: 200px
	&__image
		text-align: center
	&__title
		margin-bottom: 150px
		text-align: center
	&__text
		margin-bottom: 40px
		font-size: 22px
		line-height: 1.3
		color: $purpur
		&._white
			color: #fff
			font-weight: 500
	&__container
		margin-bottom: 50px
		display: flex
		flex-flow: row nowrap
		justify-content: space-between
		align-items: center
		&._top-offset
			margin: 100px 0 0
	&__box
		text-align: center
	&__icon
		margin-bottom: 20px
	&__caption
		font-family: Poppins
		font-weight: 600
		letter-spacing: 0.03em



.work-process
	._flex-center
		align-items: center
	&__title
		white-space: nowrap
		margin-bottom: 100px
	&__subtitle
		font-weight: 400
		color: $purpur
		line-height: 1.2
		margin-bottom: 40px
		font-family: $default-font
	&__statistics
		display: flex
		flex-flow: row nowrap
		margin-bottom: 65px
		.h3
			font-size: 30px
			font-weight: 700
			color: $accent
			margin-bottom: 10px
			line-height: 1.2
		p
			color: $purpur
			line-height: 1.3
	&__wrap
		margin-right: 75px
		&:last-child
			margin: 0
	&__image
		text-align: right
	&__container
		margin-top: 90px
		display: flex
		justify-content: space-between
		flex-flow: row wrap
	&__box
		width: calc(50% - 10px)
		height: 300px
		display: flex
		flex-direction: column
		justify-content: center
		padding: 0 80px
		background: linear-gradient(242.19deg, rgba(88, 21, 134, 0.5) -17.05%, rgba(110, 0, 255, 0) 174.31%)
		box-shadow: 0px 50px 100px rgba(61, 11, 92, 0.5)
		border-radius: 10px
		margin-bottom: 20px
	&__icon
		display: none
	&__number
		width: 32px
		height: 32px
		background: rgba(255, 255, 255, 0.04)
		border-radius: 10px
		font-size: 10px
		font-family: Poppins
		font-weight: 700
		position: absolute
		top: 25px
		right: 25px
		display: none
		justify-content: center
		align-items: center
	&__heading
		margin-bottom: 20px
		line-height: 1.2
		font-family: $default-font
	&__text
		font-size: 20px
		line-height: 1.2
		color: $purpur



.localization-solutions
	&__title
		text-align: center
		margin-bottom: 120px
	&__container
		display: flex
		justify-content: space-evenly
		flex-flow: row wrap
	&__box
		width: 30%
		text-align: center
		margin-bottom: 80px
		display: flex
		flex-direction: column
		align-items: center
	&__text
		font-weight: 600
		font-family: Poppins
		font-size: 20px
		text-transform: uppercase
		letter-spacing: 0.05em
		margin-top: 35px
		white-space: nowrap
	&__image
		height: 290px
		display: flex
		align-items: center
		justify-content: center
	


.addition
	._flex-center
		align-items: center
	&__title
		font-weight: 700
		color: #cbb7d8
		letter-spacing: 0.05em
		font-size: 20px
		line-height: 1.3
		margin-bottom: 50px
	&__container
		display: flex
		flex-flow: row wrap
		justify-content: space-between
	&__box
		width: calc(50% - 10px)
		background: rgba(255, 255, 255, 0.04)
		border-radius: 20px
		display: flex
		align-items: center
		flex-flow: row nowrap
		justify-content: space-between
		padding: 40px
		margin-bottom: 20px
		&._wider
			width: 100%
			margin-bottom: 0
	&__number
		color: rgba(255, 255, 255, 0.17)
		font-size: 48px
		font-weight: 800
		font-family: Poppins
	&__caption
		font-family: $default-font
		font-weight: 700
	&__image
		img
			width: 90%



.p-projects
	.projects
		.tabs
			margin-top: 80px
			&__content
				display: none
				margin-top: 80px
				position: relative
				left: -25px
				width: calc(100% + 50px)
				&.active
					display: block
			&__caption 
				display: flex
				align-items: center
				flex-flow: row wrap
				width: calc(100% + 20px)
				position: relative
				left: -10px
				li
					display: flex
					align-items: center
					justify-content: center
					text-align: center
					border: 2px solid $accent
					border-radius: 20px
					height: 90px
					width: calc(33.3% - 20px)
					margin: 0 10px 20px
					color: #DCD2FF
					font-size: 24px
					font-weight: 600
					transition: .3s ease
					cursor: pointer	
					&.active, &.active:hover
						background-color: $accent
					&:hover
						background-color: rgba(161, 0, 255, 0.35)
		&__wrapper
			display: flex
			flex-flow: row wrap
		.project
			width: calc(33.3% - 50px)
			min-height: 440px
			margin: 0 25px 50px
			background: linear-gradient(242.19deg, rgba(88, 21, 134, 0.2) -17.05%, rgba(110, 0, 255, 0) 174.31%)
			box-shadow: 0px 20px 50px #420864
			border-radius: 20px	
			position: relative
			display: flex
			flex-direction: column
			align-items: flex-start
			justify-content: flex-end
			padding: 40px 50px
			overflow: hidden
			&__hover
				width: 100%
				height: 100%
				display: flex
				align-items: center
				justify-content: center
				text-transform: uppercase
				background: rgba(93, 14, 165, 0.8)
				backdrop-filter: blur(10px)
				position: absolute
				left: 0
				top: 0
				z-index: 2
				transition: .3s ease
				opacity: 0
				font-size: 16px
				line-height: 1.2
				text-transform: uppercase
				font-weight: 700
				font-family: $default-font
				&::before
					content: ''
					width: 155px
					height: 155px
					border-radius: 100%
					border: 1px solid #fff
					position: absolute
					left: 50%
					top: 50%
					transform: translate(-50%, -50%)
					opacity: 1
					transition: .3s ease
				&:hover
					opacity: 0.8
					&::before
						width: 200px
						height: 200px
				span
					opacity: 1
					z-index: 2
					position: relative
			&__notice
				font-size: 12px
				color: #fff
				position: absolute
				top: 40px
				right: 40px
			&__image
				margin-bottom: 25px
				align-self: center
				position: relative
				right: 10px
			&__title, &__category
				font-weight: 700
				font-size: 16px
				line-height: 1.2
				font-family: $default-font
			&__title
				margin-bottom: 10px
				text-transform: uppercase
			&__category
				text-transform: capitalize
				color: #DCD2FF



.p-project
	.breadcrumbs
		margin-bottom: 20px
		color: #DCD2FF
		font-size: 18px
		font-weight: 500
		text-transform: uppercase
		&__flex
			display: flex
			flex-flow: row wrap
		a
			transition: .2s ease
			margin-right: 15px
			padding-right: 15px
			position: relative
			&:hover
				color: #fff
			&::after
				content: '\f111'
				font-family: "Font Awesome 5 Free"
				font-weight: 900
				font-size: 8px
				color: $accent
				position: absolute
				right: 0
				top: calc(50% - 1px)
				transform: translate(50%, -50%)
		span
			cursor: default
			color: #fff
	.project
		.row
			align-items: center
		&__bg
			background-size: cover
			background-position: center top
		&__link_hidden
			position: absolute
			width: 0
			height: 0
		&__image
			&_full
			display: flex
			justify-content: flex-end
			&_mobile
				display: none
			&_large
				display: none
		&__category
			margin-bottom: 30px
			color: #DCD2FF
			font-size: 24px
			line-height: 1.2
			text-transform: capitalize
			font-weight: 700
			font-family: $default-font
		&__title
			font-size: 46px
			font-weight: 900
			text-transform: uppercase
			margin-bottom: 90px
		&__text
			font-size: 24px
			line-height: 1.3
			margin-bottom: 25px
			max-width: 600px
		&__button
			margin-top: 70px
			&._mobile
				display: none
		&__content
			margin-top: 150px
		&__box
			background: linear-gradient(242.19deg, rgba(88, 21, 134, 0.8) -17.05%, rgba(110, 0, 255, 0) 174.31%)
			box-shadow: 0px 66px 133px #3D0B5C
			width: calc(50% - 10px)
			padding: 80px
			border-radius: 10px
			&._full
				width: 100%
			&._flex
				display: flex
				justify-content: space-between
				align-items: flex-start
			&._flex-start
				display: flex
				justify-content: flex-start
		&__features-description
			margin-bottom: 40px
			display: flex
			justify-content: space-between
			flex-flow: row wrap
		&__heading
			margin-bottom: 40px
			text-transform: uppercase
			font-size: 24px
			font-family: $default-font
			line-height: 1.1
			width: 100%
		&__flex-box
			display: flex
			justify-content: space-between
		&__list
			max-width: calc(50% - 10)
			li
				line-height: 1.2
				margin-bottom: 10px
				&:last-child
					margin-bottom: 0
				&::before
					content: '\f111'
					font-family: "Font Awesome 5 Free"
					color: $accent
					font-weight: 900
					font-size: 10px
					position: relative
					bottom: 2px
					margin-right: 10px
		&__inner 
			flex: 0 0 auto
			.project__flex-box
				& > *
					margin-right: 60px
					&:last-child
						margin-right: 0
		
		






.p-economy
	.blocks
		&__text
			max-width: 310px
			margin-right: auto
			margin-left: auto
			font-size: 18px
			padding: 0 15px
	.approach
		&__heading
			font-size: 24px
			margin-bottom: 35px
		&__text
			font-size: 16px
			color: #fff
			line-height: 1.6
		&__list
			li
				display: flex
				align-items: flex-start
				text-align: left
				font-size: 16px
				letter-spacing: 0.05em
				line-height: 1.3
				margin-bottom: 10px
				&::before	
					content: '\f111'
					font-family: 'Font Awesome 5 Free'
					color: $accent
					font-weight: 900
					margin-right: 20px
		&__caption
			font-size: 18px
			font-weight: normal
			letter-spacing: 0.05em
			margin-bottom: 25px

.p-privacy
	.privacy
		&__title
			margin-bottom: 50px
			text-align: center
		h2
			font-size: 24px
			font-weight: 600
			margin-bottom: 30px
			margin-top: 30px

		h1
			font-size: 36px
			margin-bottom: 120px
		p
			color: #B8B4D0
			font-size: 18px
			margin-bottom: 15px
		ul
			margin-top: 30px
			margin-bottom: 30px
			li
				display: flex
				text-align: left
				font-size: 16px
				letter-spacing: 0.05em
				line-height: 1.3
				margin-bottom: 10px
				color: #B8B4D0
				align-items: center
				&::before	
					content: '\f111'
					font-family: 'Font Awesome 5 Free'
					color: $accent
					font-weight: 900
					margin-right: 10px
					font-size: 10px
		a
			color: #D4D0EE
			font-weight: 800
			&:hover
				color: #fff	

@import media